/* ***********************************************************************
* 83incs CONFIDENTIAL
* ***********************************************************************
*
*  [2017] - [2022] 83incs Ltd.
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of 83incs Ltd, IoT83 Ltd, its suppliers (if any), its subsidiaries (if any) and
* Source Code Licenses (if any).  The intellectual and technical concepts contained
* herein are proprietary to 83incs Ltd, IoT83 Ltd, its subsidiaries (if any) and
* Source Code Licenses (if any) and may be covered by U.S. and Foreign Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from 83incs Ltd or IoT83 Ltd.
****************************************************************************
*/

:root {

   /* ----------------------- Base Theme Start ----------------------- */

   --darkTheme: #002966;
   --theme: #07a0e3;
   
   /* ----------------------- Base Theme End ----------------------- */


   /* -----------------------  For Light Background Start ----------------------- */

   --light-bg: rgba(231, 244, 253, 0.65);

   /* -----------------------  For Light Background End ----------------------- */


   /* ----------------------- Nav Theme Start ----------------------- */

   --nav-bg: #002966;
   --nav-text: #d2d9e0;
   --nav-text-active: #ffffff;
   --nav-sub-menu-border: #879bab;
   --nav-menu-footer-border: #2471A3;
   --nav-dropdown-initials: #ffffff;

   /* ----------------------- Nav Theme End ----------------------- */


   /* ----------------------- Text Theme Start ----------------------- */

   --content-color: #808080;
   --text-color: #4a4a4a;

   /* -----------------------  Text Theme End ----------------------- */


   /* -----------------------  Form Theme Start ----------------------- */

   --label-color: #466081;

   /* -----------------------  Form Theme End ----------------------- */


   /* ----------------------- Border Colour Start ----------------------- */

   --border-color: #e6e6e6;
   --border-color-dark: #bfbfbf;
   
   /* ----------------------- Border Colour End ----------------------- */
}