/* ***********************************************************************
* 83incs CONFIDENTIAL
* ***********************************************************************
*
*  [2017] - [2022] 83incs Ltd.
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of 83incs Ltd, IoT83 Ltd, its suppliers (if any), its subsidiaries (if any) and
* Source Code Licenses (if any).  The intellectual and technical concepts contained
* herein are proprietary to 83incs Ltd, IoT83 Ltd, its subsidiaries (if any) and
* Source Code Licenses (if any) and may be covered by U.S. and Foreign Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from 83incs Ltd or IoT83 Ltd.
****************************************************************************
*/

@import "../themes/variables";
@import "../themes/theme";
@import "../utils/mixins";

.error-box {
	width: 100%;
	height: 100%;
	position: relative;

	.error-content {
		text-align: center;
		text-transform: uppercase;
		@include transform-center-align;
		h5 {
			color: $text-color;
		}
		h1 {
			font-size: 160px;
			color: $black;
			margin: -20px 0 10px;
			span {
				font-weight: 900;
				text-shadow: -6px 0 0 $content-color;
			}
		}
		h6 {
			color: $content-color;
			letter-spacing: 1px;
			line-height: 24px;
		}
	}
}

.outer-error {
	height: 100vh;
	width: 100%;
	background-color: $white;
	position: relative;
	.outer-error-content {
		text-align: center;
		@include transform-center-align;
		.outer-error-icon {
			img {
				@include image;
			}
		}
		h1 {
			text-transform: uppercase;
			color: $black;
			font: {
				weight: 600;
				size: 40px;
			}
			text-shadow: -3px 0 0 $border-color;
			letter-spacing: 2px;
			margin: 20px 0;
		}
		h5 {
			color: $text-color;
			font-weight: 300;
		}
		p {
			color: $content-color;
		}
	}
}