/* ***********************************************************************
* 83incs CONFIDENTIAL
* ***********************************************************************
*
*  [2017] - [2022] 83incs Ltd.
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of 83incs Ltd, IoT83 Ltd, its suppliers (if any), its subsidiaries (if any) and
* Source Code Licenses (if any).  The intellectual and technical concepts contained
* herein are proprietary to 83incs Ltd, IoT83 Ltd, its subsidiaries (if any) and
* Source Code Licenses (if any) and may be covered by U.S. and Foreign Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from 83incs Ltd or IoT83 Ltd.
****************************************************************************
*/

@import "../themes/variables";
@import "../themes/theme";
@import "../utils/mixins";

.footer {
    position: fixed;
    left: 200px;
    right: 0;
    bottom: 0;
    padding: 10px;
    border-top: 1px solid $border-color;
    z-index: 5;
    transition: left 0.3s;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);

    li {
        font-size: 11px;
        color: $content-color;
        padding: 0 10px;
        border-right: 1px solid $content-color;
        &:last-of-type {
            border-right: 0;
        }
    }

    .form-group-block {
        @include transform-top-center-align;
        right: 10px;
        .form-group {
            display: inline-block;
            margin: 0;
            .form-control {
                display: inline-block;
                width: 160px;
                font-size: 12px;
                padding: 3px 8px;
                min-height: auto;
                margin-left: 5px;
            }
            .form-control-multi-select {
                width: 160px;
                margin-left: 10px;
                .css-bg1rzq-control,
                .css-1szy77t-control {
                    min-height: auto;
                    .css-1hwfws3 {
                        padding: 0 8px 0 8px;
                    }
                }

                .css-16pqwjk-indicatorContainer,
                .css-1thkkgx-indicatorContainer {
                    padding: 0 5px;
                }
            }
            .btn-transparent {
                border-radius: 4px;
                width: 23px;
                height: 23px;
                margin-left: 5px;
                font-size: 12px;
                padding: 0;
                display: none;
            }
        }
    }
}