/* ***********************************************************************
* 83incs CONFIDENTIAL
* ***********************************************************************
*
*  [2017] - [2022] 83incs Ltd.
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of 83incs Ltd, IoT83 Ltd, its suppliers (if any), its subsidiaries (if any) and
* Source Code Licenses (if any).  The intellectual and technical concepts contained
* herein are proprietary to 83incs Ltd, IoT83 Ltd, its subsidiaries (if any) and
* Source Code Licenses (if any) and may be covered by U.S. and Foreign Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from 83incs Ltd or IoT83 Ltd.
****************************************************************************
*/

@import "../themes/variables";
@import "../themes/theme";
@import "../utils/mixins";

.no-tenant-box {
	height: 100vh;
	width: 100%;
	background-color: $white;
}
.no-tenant-content {
	width: 80%;
	margin: auto;
	.access-denied-image {
		width: 100%;
		image {
			@include image;
		}
	}
	.tenant-message {
		text-align: center;
		margin-top: 50px;
		h4 {
			font-weight: 300;
			letter-spacing: 0.6px;
			color: $content-color;
		}
	}
}