/* ***********************************************************************
* 83incs CONFIDENTIAL
* ***********************************************************************
*
*  [2017] - [2022] 83incs Ltd.
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of 83incs Ltd, IoT83 Ltd, its suppliers (if any), its subsidiaries (if any) and
* Source Code Licenses (if any).  The intellectual and technical concepts contained
* herein are proprietary to 83incs Ltd, IoT83 Ltd, its subsidiaries (if any) and
* Source Code Licenses (if any) and may be covered by U.S. and Foreign Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from 83incs Ltd or IoT83 Ltd.
****************************************************************************
*/

@import "../themes/variables";
@import "../themes/theme";
@import "../utils/mixins";

// weather widget
.weather-widget {
    background-color: $white;
    position: relative;
    
    .weather-header {
        padding: 20px 12px;
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 6px;
        
        .weather-header-content {
            position: absolute;
            top: 20px;
            left: 15px;
            h5 {
                margin: 0 0 5px;
                font-weight: 700;
                color: $white;
            }
            p {
                margin-bottom: 3px;
                font-size: 10px;
                color: $black;
                font-weight: 600;
                span {
                    font-weight: 600;
                }
            }
        }
        
        .weather-header-detail {
            text-align: center;
            margin-bottom: 25px;
            padding: 0 110px;
            color: $black;
            min-height: 82px;
            h4 {
                margin: 0 0 10px;
                font-size: 18px;
                font-weight: 600;
                line-height: 23px;
            }
            h6 {
                font-weight: 400;
                color: $text-color;
            }
            h5 {
                position: absolute;
                top: 30px;
                right: 10px;
                margin: 0;
                font-weight: 700;
                border-bottom: 1px solid $border-color;
                color: $white;
            }
        }
        
        ul li {
            padding: 10px 15px;
            text-align: center;
            h6 {
                font-size: 10px;
                text-transform: uppercase;
                letter-spacing: 1px;
                margin: 0 0 5px;
                color: $white;
            }
            p {
                font-weight: 700;
                margin: 0;
                small {
                    font-size: 10px;
                    margin-left: 3px;
                }
            }
        }
    }
    
    .weather-body-list {
        text-align: center;
        padding-top: 5px;
        li {
            flex: 0 0 14.28%;
            max-width: 14.28%;
            border-right: 1px solid $border-color;
            padding: 5px 0;
            @include transition-3s;
            &:last-of-type {
                border-right: 0;
            }
            p {
                font: {
                    size: 10px;
                    weight: 700;
                };
                text-transform: uppercase;
                color: $content-color;
                margin: 0;
            }
            h6 {
                color: $text-color;
                margin: 0;
                position: relative;
                font-weight: 600;
            }
            .weather-body-image {
                width: 36px;
                margin: 10px auto;
                img {
                    @include image;
                }
            }
            &.active, &:hover {
                background-color: $light-bg;
                @include transition-3s;
                box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.1);
                border-radius: 2px;
                cursor: pointer;
                p,h6 {
                    color: $theme;
                }
            }
        }
    }
}
.device-weather-wrapper {
    height: 304px;
    .card-loader, .card-message {
        height: 304px;
    }
}
// end weather widget

// topology widget
.topology-wrapper {
    .card-loader, .card-message {
        height: 160px;
    }
    .topology-content-list {
        @include list-style-none;
        @include flex-center-align;
        padding: 15px 0;
        li {
            padding-right: 80px;
            text-align: center;
            position: relative;
            .topology-content-item {
                .topology-image {
                    width: 100px;
                    height: 100px;
                    border: 2px solid $border-color;
                    @include border-radius-50;
                    position: relative;
                    margin: 0 auto;
                    img {
                        padding: 2px;
                        @include image;
                        @include border-radius-50;
                    }
                }
                p {
                    color: $text-color;
                    margin: 12px 0 0;
                    font-weight: 600;
                }
                .topology-connection {
                    @include transform-top-center-align;
                    right: 0;
                    text-align: center;
                    h6 {
                        color: $content-color;
                        font-size: 12px;
                        font-weight: 600;
                        margin-bottom: 15px;
                        @include transform-left-center-align;
                        top: -20px;
                        width: 90px;
                        word-break: break-all;
                    }
                    .topology-connection-link {
                        width: 80px;
                        text-align: center;
                        img {
                            @include image;
                        }
                        span {
                            border-top: 2px dashed $red;
                            display: block;
                            &.topology-no-connection {
                                border-color: $border-color-dark;
                            }
                        }
                        i {
                            @include transform-left-center-align;
                            top: 22px;
                            font-size: 16px;
                            z-index: 1;
                        }
                    }
                }
            }
            &:last-of-type {
                padding-right: 0;
            }
        }
    }
}
// end topology

// device detail page
.device-detail-tabs {
    @include display-flex;
    margin-bottom: 15px;
    .nav-item {
        flex: 0 0 25%;
        max-width: 25%;
        margin-bottom: 0;
        .nav-link {
            padding: 10px 15px;
            color: $text-color;
            text-transform: uppercase;
            font: {
                size: 11px;
                weight: 600;
            }
            position: relative;
            text-align: center;
            @include transition-3s;
            background-color: $white;
            border: {
                width: 1px 1px 0 1px;
                style: solid;
                radius: 8px 8px 0 0;
                color: $border-color;
            };
            i {
                margin-right: 5px;
            }
            &::after {
                content: '';
                height: 4px;
                width: 70%;
                border-radius: 4px;
                @include transform-left-center-align;
                bottom: 0;
            }
            &:hover {
                color: $theme;
                text-decoration: underline;
                cursor: pointer;
            }
            &.active {
                background-color: $darkTheme;
                color: $white;
                &::after {
                    background-color: $theme;
                }
                &:hover {
                    text-decoration: none;
                    color: $white;
                    cursor: default;
                }
            }
            &.nav-link-disabled {
                background-color: $border-color;
                cursor: not-allowed;
                &:hover {
                    cursor: default;
                    color: $text-color;
                    text-decoration: none;
                }
            }
        }
        &:last-of-type {
            .nav-link {
                border-right: 1px solid $border-color;
            }
        }
    }
}

.device-info-box {
    position: relative;
    .device-detail-image {
        height: 120px;
        width: 120px;
        border: 2px solid $border-color;
        @include border-radius-50;
        background-color: $light-bg;
        margin-bottom: 10px;
        position: relative;
        img {
            @include image;
            padding: 2px;
            @include border-radius-50;
        }
        .device-detail-status {
            width: 15px;
            height: 15px;
            @include border-radius-50;
            position: absolute;
            bottom: 8px;
            right: 8px;
        }
    }
    .device-info-status {
        @include position-top-right;
        top: -5px;
        h6 {
            font-size: 11px !important;
            color: $content-color;
            text-align: right;
            font-weight: 400 !important;
            display: inline-block;
            margin: 0;
        }
    }
    h5 {
        margin-bottom: 10px;
        color: $theme;
        @include text-truncate;
        font-weight: 600;
        span {
            margin-left: 5px;
            font-size: 12px;
            color: $text-color;
        }
    }
    p {
        margin-bottom: 10px;
        color: $content-color;
        @include text-truncate;
        strong {
            color: $text-color;
            font-weight: 600;
            margin-right: 5px;
            i {
                margin-right: 10px;
                color: $darkTheme;
                font-size: 10px;
            }
        }
        span {
            color:$blue;
            &:hover{
                cursor: pointer;
                text-decoration: underline;
            }
        }
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.device-detail-box {
    .card-loader, .card-message {
        height: 346px;
    }
    .device-detail-box-inner {
        height: 317px;
        overflow-y: auto;
        border-bottom: 1px solid $border-color;
        table tr th, table tr td {
            padding: 10px;
        }
        .btn-transparent-blue {
            width: 24px;
            height: 24px;
        }
    }
    .custom-legend-wrapper {
        padding-top: 8px;
    }
}

.device-chart-group {
    .device-chart-group-title {
        border-bottom: 1px solid $border-color;
        color: $text-color;
        font-weight: 600;
        padding: 5px 15px 10px;
        box-shadow: none;
        margin-bottom: 12px;
        position: relative;
        .button-group {
            @include position-top-right;
            right: 15px;
        }
        h6 {
            font-weight: 600;
            color: $darkTheme;
            margin: 0;
        }
    }
    .form-group {
        margin-bottom: 15px;
        .input-group-text {
            width: 90px;
        }
        .rdt {
            width: calc(100% - 90px);
        }
    }
    .card-header {
        .button-group {
            @include transform-top-center-align;
            right: 15px;
            z-index: 2;
        }
        .custom-legend-wrapper {
            @include transform-top-center-align;
            right: 100px;
        }
    }
    .device-chart-message {
        height: calc(100vh - 222px);
        .card-loader {
            height: 100%;
            width: 100%;
            font-size: 20px;
            color: $theme;
            @include flex-center-align;
        }
    }
}

#deviceMonitoring {
    .card {
        .card-chart-box, .card-message, .card-loader {
            height: 223px;
        }
    }
}

.device-detail-list {
    @include list-style-none;
    li {
        border-bottom: 1px solid $border-color;
        h6 {
            color: $darkTheme;
            font-weight: 600;
            font-size: 12px;
            margin: 0;
            padding: 0 10px 10px;
        }
        p {
            margin: 0;
            padding: 10px;
            color:$content-color;
        }
        .alarm-icon {
            height: 30px;
            width: 30px;
            margin: 0 auto;
            @include border-radius-50;
            position: relative;
            color: $white;
            font-size: 12px;
            i {
                @include transform-center-align;
            }
        }
    }
    &:last-of-type {
        li {
            border-bottom: 0;
            p {
                padding-bottom: 0;
            }
        }
    }
}

.device-alarm-wrapper {
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    .card-header, .device-alarm-inner-header {
        padding-left: 45px;
        position: relative;
        .device-alarm-icon {
            @include transform-top-center-align;
            left: 10px;
            width: 26px;
            height: 26px;
            @include flex-center-align;
            border-radius: 4px;
            font-size: 12px;
            background-color: $light-bg;
            border: 1px solid $border-color;
        }
        .alert {
            @include transform-top-center-align;
            right: 15px;
            margin: 0;
            padding: 3px 10px;
            font-size: 13px;
            font-weight: 600;
            display: inline-block;
        }
        strong {
            font-weight: 600;
            color: $theme;
            margin-left: 5px;
            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
        h6 i {
            transform: none;
            @include transition-3s;
        }
        &.collapsed {
            h6 i {
                transform: rotate(180deg);
                @include transition-3s;
            }
        }
    }
    .card-body {
        .device-alarm-list {
            li {
                padding: 10px 10px 10px 40px;
                position: relative;
                border-bottom: 1px solid $border-color;
                .device-alarm-count {
                    @include position-top-left;
                    top: 22px;
                    i {
                        font-size: 20px;
                        color: $content-color;
                    }
                    .badge {
                        width: 22px;
                        height: 22px;
                        @include border-radius-50;
                        padding: 0;
                        font-size: 9px;
                        text-align: center;
                        position: absolute;
                        top: -12px;
                        right: -12px;
                        @include flex-center-align;
                        &.badge-danger {
                            background-color: $red;
                        }
                        &.badge-light {
                            border: 1px solid $border-color;
                        }
                    }
                }
                h6 {
                    color: $text-color;
                    margin: 0 0 5px;
                    position: relative;
                    font-size: 12px;
                    font-weight: 400;
                    strong {
                        color: $text-color;
                        font-weight: 700;
                        margin: 0 2px;
                    }
                }
                p {
                    margin-bottom: 0;
                    color: $content-color;
                    font-size: 10px;
                    strong {
                        color: $text-color;
                        margin-right: 5px;
                    }
                }
                &:last-of-type {
                    border-bottom: 0;
                }
                .button-group {
                    @include position-top-right;
                    top: 12px;
                    .btn {
                        margin-right: 10px;
                        padding: 3px 12px;
                        font-size: 12px;
                        border-width: 1px;
                        &:last-of-type {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
    .device-alarm-inner-wrapper {
        border-radius: 5px;
        margin-bottom: 15px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
        &:last-of-type {
            margin-bottom: 0;
        }
        .device-alarm-inner-header {
            border-bottom: 1px solid $border-color;
            &::before {
                display: none;
            }
        }
    }
}

.device-command-wrapper {
    padding: 10px 0;
    .card-message, .card-loader {
        height: 40px;
        flex: 0 0 100%;
        max-width: 100%;
    }
    ul {
        @include flex-center-align;
        li {
            position: relative;
            padding-right: 12px;
            margin-bottom: 5px;
            .btn {
                min-height: 40px;
                width: 100%;
                @include text-truncate;
                &.device-command-wrapper-button {
                    padding-left: 43px;
                    padding-right: 5px;
                    text-align: left;
                    span {
                        @include position-top-bottom;
                        left: 0;
                        width: 35px;
                        border-right: 1px solid $theme;
                        text-align: center;
                        @include flex-center-align;
                        padding: 4px;
                        img {
                            @include image;
                        }
                    }
                }
            }
            &::after {
                content: '';
                width: 2px;
                background-color: $border-color-dark;
                height: 100%;
                @include transform-top-center-align;
                right: 5px;
                border-radius: 4px;
            }
            &:last-of-type {
                padding-right: 0;
                &::after {
                    display: none;
                }
            }
        }
        
    }
}

.insight-chart-group {
    .debug-table-wrapper {
        height: 320px;
    }
    .card{
        min-height: 396px;

    }
}
// device detail page


//.insight-modal {
//    .custom-control-label {
//        font-size: 13px;
//        font-weight: normal;
//        cursor: pointer;
//    }
//}