/* ***********************************************************************
* 83incs CONFIDENTIAL
* ***********************************************************************
*
*  [2017] - [2022] 83incs Ltd.
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of 83incs Ltd, IoT83 Ltd, its suppliers (if any), its subsidiaries (if any) and
* Source Code Licenses (if any).  The intellectual and technical concepts contained
* herein are proprietary to 83incs Ltd, IoT83 Ltd, its subsidiaries (if any) and
* Source Code Licenses (if any) and may be covered by U.S. and Foreign Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from 83incs Ltd or IoT83 Ltd.
****************************************************************************
*/

@import "../themes/variables";
@import "../themes/theme";
@import "../utils/mixins";

// alarm variarnt 1
.alarm-widget-box {
    height: calc(100% - 7px);
    overflow-y: auto;
    padding: 0 10px 10px 10px;
    position: relative;
    .alarm-widget-header {
        position: sticky;
        top: 0;
        left: 10px;
        right: 10px;
        border-bottom: 1px solid $border-color;
        padding: 10px 5px 5px;
        font: {
            size: 14px;
            weight: 500;
        }
        color:$text-color;
        z-index: 1;
        background-color: $white;
        margin-bottom: 10px;
    }
    ul {
        li {
            &:hover {
                color: $theme;
            }
            &.active,
            &.active:hover {
                background-color: rgb(235, 240, 250);
                color: $theme;
                border-color: $theme;
            }
            padding: 12px 12px 12px 40px;
            border: 1px solid $border-color;
            border-right: 5px solid $orange;
            position: relative;
            border-radius: 5px;
            margin-bottom: 10px;
            .alarm-list-count {
                position: absolute;
                top: 10px;
                right: 30px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                padding: 0;
                margin: 0;
                text-align: center;
                font: {
                    size: 11px;
                    weight: 500;
                }
                line-height: 20px;
            }
            .alarm-list-icon {
                position: absolute;
                top: 10px;
                left: 10px;
                font-size: 16px;
                color: $red;
                line-height: normal;
            }
            h4 {
                font-size: 13px;
                color: $text-color;
                margin: 0 0 5px;
                padding-right: 50px;
                cursor: pointer;
            }

            h6 {
                font-size: 11px;
                color:$content-color;
                margin: 0;
                font: {
                    weight: 400;
                }
                padding-right: 50px;
                cursor: pointer;
            }
            .alarm-list-arrow {
                position: absolute;
                top: 10px;
                right: 10px;
                transition: all ease-in-out 0.3s;
                transform: rotate(180deg);
                &.collapsed {
                    transform: rotate(0);
                    transition: all ease-in-out 0.3s;
                }
            }
            .alarm-inner-list {
                padding: 10px 0 0 15px;
                margin-top: 5px;
                position: relative;
                h5 {
                    font: {
                        size: 11px;
                    }
                    color: $content-color;
                    margin: 0 0 7px;
                    position: relative;
                    &::before {
                        content: '';
                       border-top: 1px solid $border-color;
                        width: 10px;
                        position: absolute;
                        top: 8px;
                        left: -15px;
                    }
                }
                &::before {
                    content: '';
                    height: calc(100% - 5px);
                    border-right: 1px solid $border-color;
                    @include position-top-left;
                }
            }
        }
    }
}
// end alarm variarnt 1

// alarm variarnt 2
.alarm-widget {
    padding: 15px;
    .card {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
        .card-header {
            padding: 15px 125px 15px 35px;
            position: relative;
            border-bottom: 1px solid $border-color;
            h1 {
                margin: 0;
                font: {
                    size: 12px;
                    weight: 600;
                };
                color:$darkTheme
            }
            .alarm-widget-icon {
                @include transform-top-center-align;
                left: 10px;
                font-size: 16px;
                color: $light-gray;
                .badge {
                    position: absolute;
                    top: -7px;
                    right: -11px;
                    height: 18px;
                    width: 18px;
                    border-radius: 50%;
                    font-size: 12px;
                    display: inline-block;
                }
            }
            .alarm-action {
                @include transform-top-center-align;
                right: 10px;
                @include list-style-none;
                li {
                    display: inline-block;
                    margin-right: 10px;
                }
            }
            &:before {
                content: initial;
            }
        }
        .card-body {
            p {
                color: $text-color;
                font: {
                    size: 13px;
                    weight: 500;
                }
                margin-bottom: 2px;
            }
            span {
                color: $content-color;
                font: {
                    size: 11px;
                    style: italic;
                }

            }
        }
    }
}
// end variarnt 2


// new alarm page
.device-filter{
    position: relative;
    margin-bottom: 25px;
        li{
            padding: 5px;
        }
            h6{
            padding-left: 5px;
            margin: 0;
            color: $darkTheme;
                font: {
                    size:13px;
                    weight:600;
                }
            }
        }
        .alarm-status-wrapper{
            .alarm-status-head{
                position: relative;
                margin-bottom: 20px;
            li{
                padding: 8px;
                h6{
                    margin: 0;
                    padding: 7px;
                    color: $white;
                    font: {
                        size:13px;
                        weight:600;
                    }
                }

            }
        }
        .alarm-detail-list{ 
            .alarm-detail-list-header{
                background-color: $white;
                h6{
                    padding: 10px;
                    margin: 0;
                    color:$darkTheme;
                    font: {
                        size:13px;
                        weight:600;
                        }
                    }
                }
            .alarm-detail-list-body{    
                ul{
                    background-color: $white;
                    li{
                        padding: 10px;
                        h6{
                            padding-left: 5px;
                            margin: 0;
                            color: $text-color;
                            font: {
                                size:13px;
                                weight:600;
                                }
                            }
                        }
                    }
                }
            }
        }
        .alarm-custom-button{
            @include transform-top-center-align;
            right: 8px;
            border-radius: 4px;
            padding: 7px 10px;
            color:$white;
            font: {
            size:12px;
            weight:600;
        }  
    }
    .custom-border{
        border: {
            style:solid;
            width: 1px;
            color:$border-color;
            radius:4px;
        }
    }

    // new alarm page scss end

