/* ***********************************************************************
* 83incs CONFIDENTIAL
* ***********************************************************************
*
*  [2017] - [2022] 83incs Ltd.
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of 83incs Ltd, IoT83 Ltd, its suppliers (if any), its subsidiaries (if any) and
* Source Code Licenses (if any).  The intellectual and technical concepts contained
* herein are proprietary to 83incs Ltd, IoT83 Ltd, its subsidiaries (if any) and
* Source Code Licenses (if any) and may be covered by U.S. and Foreign Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from 83incs Ltd or IoT83 Ltd.
****************************************************************************
*/

@import "../themes/variables";
@import "../themes/theme";
@import "../utils/mixins";

.device-counter-list {
    z-index: 1;
    li {
        padding: 0 5px;
        &:first-of-type {
            padding-left: 0;
        }
        &:last-of-type {
            padding-right: 0;
        }
        .device-counter-card {
            @include card-box;
            padding: 12px 20px;
            border-radius: 4px;
            margin-bottom: 12px;
            h4 {
                margin: 0 0 5px;
                color: $text-color;
                font-weight: 600;
            }
            p {
                margin-bottom: 0;
                color: $content-color;
            }
            span {
                width: 4px;
                height: 35px;
                border-radius: 5px;
                @include transform-top-center-align;
                left: 0;
                display: inline-block;
            }
            .device-counter-icon {
                @include transform-top-center-align;
                right: 15px;
                width: 50px;
                height: 50px;
                border: 2px solid $border-color;
                border-radius: 5px;
                @include flex-center-align;
                background-color: $light-bg;
                img {
                    @include image;
                    padding: 5px;
                }
                i {
                    font-size: 22px;
                }
                .device-counter-status {
                    width: 12px;
                    height: 12px;
                    @include border-radius-50;
                    position: absolute;
                    bottom: -5px;
                    right: -5px;
                }
            }
        }
    }
}