/* ***********************************************************************
* 83incs CONFIDENTIAL
* ***********************************************************************
*
*  [2017] - [2022] 83incs Ltd.
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of 83incs Ltd, IoT83 Ltd, its suppliers (if any), its subsidiaries (if any) and
* Source Code Licenses (if any).  The intellectual and technical concepts contained
* herein are proprietary to 83incs Ltd, IoT83 Ltd, its subsidiaries (if any) and
* Source Code Licenses (if any) and may be covered by U.S. and Foreign Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from 83incs Ltd or IoT83 Ltd.
****************************************************************************
*/

@import "../themes/variables";
@import "../themes/theme";
@import "../utils/mixins";

.modal {
    background-color: rgba(0, 0, 0, 0.7);
    animation-duration: 0.5s;
    overflow-y: auto;
}

.modal-header {
    padding: 15px;
    position: relative;
    background-color: $theme;
    border-bottom: 3px solid $border-color;
    .modal-title {
        width: 100%;
        font: {
            size: 13px;
            weight: 600;
        };
        color: $white;
        position: relative;
        .close {
            @include transform-top-center-align;
            right: 0;
            height: 30px;
            width: 30px;
            margin: 0;
            padding: 0;
            opacity: 1;
            font-size: 13px;
            border-radius: 4px;
            border: 2px solid #d2d9e0;
            color: #002966;
            background-color: #f0f2f5;
            @include flex-center-align;
            &:hover {
                background-color: #e1e6ea;
                border-color: #d2d9e0;
            }
        }
        span {
            color: $darkTheme;
            font-weight: 600;
        }
    }
    .form-group {
        @include transform-top-center-align;
        right: 50px;
        .form-control {
            padding: 6px 12px;
        }
        select.form-control {
            min-height: auto;
        }
    }
    .modal-header-list {
        @include transform-top-center-align;
        right: 45px;
        @include flex-center-align;

        .btn {
            height: 30px;
            width: 30px;
            padding: 0;
            margin-right: 10px;
            @include flex-center-align;
            &.active {
                color: $darkTheme;
                border-color: $darkTheme;
            }
        }
    }
}

.modal-body {
    padding: 20px;
    position: relative;
    .modal-body-error {
        color: $red;
        margin-bottom: 5px;
        word-break: break-all;
        &:last-of-type {
            margin-bottom: 15px;
        }
    }
    .nav-tabs {
        border-bottom: 1px solid $border-color;
        margin-bottom: 10px;
        .nav-link {
            font-size: 12px;
            color: $text-color;
            &:hover {
                color: $theme;
            }
            &.active {
                border: 1px solid $border-color;
                color: $darkTheme;
                background-color: $light-bg;
                :hover {
                    color: $darkTheme;
                }
            }
        }
    }
}

.modal-footer {
    padding: 12px 20px;
    .btn {
        min-width: 100px;
        margin: 0 10px 0 0;
        &:last-of-type {
            margin-right: 0;
        }
    }
}

.modal-loader {
    height: 100%;
    font-size: 24px;
    @include flex-center-align;
    color: $theme;
}

.modal-full {
    width: 100%;
    max-width: none;
    margin: 0;
    padding: 10px;
    .modal-full-editor {
        height: calc(100vh - 40px);
        position: relative;
        .btn-light {
            @include position-bottom-right;
            background-color: transparent;
            color: $white;
            margin: 0 10px 10px 0;
            z-index: 1;
        }
        .json-input-box {
            [name="outer-box"] {
                height: 100% !important;
            }
        }
        .card-chart-box {
            height: 100%;
        }
    }
}

.modal-editor {
    height: calc(100vh - 210px);
    position: relative;
}

// delete modal
.delete-content {
    text-align: center;
    padding: 40px 0 30px;
    .delete-icon {
        @include transform-left-center-align;
        top: -40px;
        width: 80px;
        height: 80px;
        @include border-radius-50;
        background-color: rgb(231, 244, 253);
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
        i {
            @include transform-center-align;
            font-size: 34px;
        }
    }
    .delete-content-loader {
        text-align: center;
        margin: 15px 0 30px;
        img {
            width: 150px;
            height: 12px;
            border-radius: 6px;
            margin-bottom: 10px;
        }
    }
    h4 {
        font-weight: 600;
        color: $red;
        margin: 20px 0;
    }
    h6 {
        color: $content-color;
        line-height: 22px;
        word-break: break-all;
        strong {
            color: $text-color;
        }
    }
}
// end delete modal

// sniff modal
.sniff-wrapper {
    height: 400px;
    padding-top: 7px;
    overflow-y: auto;
    li {
        border: {
            style: dashed;
            width: 1px;
            radius: 4px;
            color: $border-color;
        };
        padding: 10px 12px;
        margin-bottom: 15px;
        font-size: 12px;
        position: relative;
        span {
            position: absolute;
            top: -7px;
            left: 5px;
            color: $cyan;
            font-size: 9px;
            font-weight: 600;
            background-color: $light-bg;
            padding: 1px 5px;
            display: inline-block;
            border-radius: 4px;
        }
        button {
            @include position-top-right;
            width: 20px;
            height: 20px;
        }
    }
    .sniff-loader {
        height: 390px;
        @include flex-center-align;
        text-align: center;
        .sniff-loader-content {
            img {
                width: 160px;
                margin-bottom: 10px;
                border-radius: 5px;
                height: 12px;
            }
            h6 {
                color: $theme;
            }
        }
    }
}

// command modal
.command-list {
    height: 370px;
    margin-bottom: 5px;
    overflow-y: auto;
    border-bottom: 1px solid $border-color;
    padding-bottom: 10px;
}

// etl stats modal
.stats-chart-list {
    height: calc(100vh - 103px);
    padding: 10px;
    li {
        height: 50%;
        padding: 7px;
        .card {
            height: 100%;
            margin-bottom: 0;
            .card-chart-box, .card-message, .card-loader {
                height: 100%;
            }
        }
    }
}
// end etl stats modal

// share modal
.share-info-wrapper {
    text-align: left;
    padding: 20px 20px 20px 110px;
    position: relative;
    border: 1px solid $border-color;
    border-radius: 4px;
    &:before {
        content: '';
        height: 100%;
        border-left: 1px solid $border-color;
        @include transform-top-center-align;
        left: 90px;
    }
    .share-info-image {
        width: 70px;
        height: 70px;
        @include transform-top-center-align;
        left: 10px;
        img {
            @include image;
        }
    }
    .badge {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 5px 10px;
        font-weight: 600;
    }
}
// end share modal

@media (min-width: 1200px) {
    .modal-xl {
        max-width: 1000px;
    }
}
