/* ***********************************************************************
* 83incs CONFIDENTIAL
* ***********************************************************************
*
*  [2017] - [2022] 83incs Ltd.
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of 83incs Ltd, IoT83 Ltd, its suppliers (if any), its subsidiaries (if any) and
* Source Code Licenses (if any).  The intellectual and technical concepts contained
* herein are proprietary to 83incs Ltd, IoT83 Ltd, its subsidiaries (if any) and
* Source Code Licenses (if any) and may be covered by U.S. and Foreign Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from 83incs Ltd or IoT83 Ltd.
****************************************************************************
*/

@import "../themes/variables";
@import "../themes/theme";
@import "../utils/mixins";

.theme-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $light-bg;
    border-top: 2px solid $border-color;
    z-index: 6;
    padding: 20px 10px;

    .btn-transparent {
        position: absolute;
        top: -15px;
        left: 10px;
    }
    
    .theme-list {
        @include list-style-none;
        @include display-flex;
        @include transition-3s;
        li {
            flex: 0 0 10%;
            max-width: 10%;
            .theme-list-box {
                border-radius: 6px;
                padding: 20px;
                overflow: hidden;
                position: relative;
                margin: 3px;
                @include transition-3s;
                p {
                    color: $border-color-dark;
                    margin-bottom: 5px;
                    font-weight: 600;
                }
                h6 {
                    color: $light-bg;
                    font-weight: 700;
                    z-index: 1;
                    position: relative;
                }
                .theme-list-border {
                    width: 100px;
                    height: 100px;
                    @include border-radius-50;
                    position: absolute;
                    right: -50%;
                    bottom: -50%;
                    i {
                        position: absolute;
                        top: 10px;
                        left: 10px;
                        font-size: 20px;
                    }
                }
                &:hover, &.active {
                    cursor: pointer;
                    transform: skew(7deg, -7deg);
                    @include transition-3s;
                    border-color: $theme;
                    box-shadow: 0 7px 2px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }
}