/* ***********************************************************************
* 83incs CONFIDENTIAL
* ***********************************************************************
*
*  [2017] - [2022] 83incs Ltd.
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of 83incs Ltd, IoT83 Ltd, its suppliers (if any), its subsidiaries (if any) and
* Source Code Licenses (if any).  The intellectual and technical concepts contained
* herein are proprietary to 83incs Ltd, IoT83 Ltd, its subsidiaries (if any) and
* Source Code Licenses (if any) and may be covered by U.S. and Foreign Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from 83incs Ltd or IoT83 Ltd.
****************************************************************************
*/

@import "../themes/variables";
@import "../themes/theme";
@import "../utils/mixins";

.toggle-switch-wrapper {
    display: flex;
    align-items: center;

    span {
        display: inline-block;
        font-size: 12px;
        color: $text-color;
    }

    .toggle-switch {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 24px;
        margin: 0 10px;
        cursor: pointer;
        .toggle-switch-slider {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 20px;
            border: 1px solid $border-color;
            @include transition-3s;
            background-color: $white;
            &::before {
                content: "";
                height: 17px;
                width: 17px;
                position: absolute;
                top: 3px;
                left: 4px;
                background-color: $border-color;
                @include transition-3s;
                @include border-radius-50;
            }
        }
        input {
            opacity: 0;
            width: 0;
            height: 0;
            &:checked + .toggle-switch-slider {
                background-color: #c6ecc6;
                border-color: $green;
            }
            &:checked + .toggle-switch-slider::before {
                transform: translateX(22px);
                background-color: $green;
            }
        }
    }

    &.toggle-switch-wrapper-disabled {
        .toggle-switch {
            cursor: not-allowed;
            input:disabled + .toggle-switch-slider {
                background-color: $border-color;
                border-color: $border-color-dark;
            }
            input:disabled + .toggle-switch-slider::before {
                background-color: $content-color;
            }
        }
    }
}
