/* ***********************************************************************
* 83incs CONFIDENTIAL
* ***********************************************************************
*
*  [2017] - [2022] 83incs Ltd.
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of 83incs Ltd, IoT83 Ltd, its suppliers (if any), its subsidiaries (if any) and
* Source Code Licenses (if any).  The intellectual and technical concepts contained
* herein are proprietary to 83incs Ltd, IoT83 Ltd, its subsidiaries (if any) and
* Source Code Licenses (if any) and may be covered by U.S. and Foreign Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from 83incs Ltd or IoT83 Ltd.
****************************************************************************
*/

@import "../themes/variables";
@import "../themes/theme";
@import "../utils/mixins";

.loader-wrapper {
    display: inline-block;
    transform: translateZ(1px);
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 3;
    @include position-all-side;
    position: fixed;
    .loader-content {
        @include transform-center-align;
        p {
            color: $content-color;
            font-size: 14px;
            margin: 10px 0;
            text-align: center;
        }
        .loader-cube {
            width: 40px;
            height: 40px;
            background: $theme;
            animation: cube-animate .9s linear infinite;
            margin-bottom: 10px;
            border-radius: 3px;
        }
        @keyframes cube-animate {
            17% { border-bottom-right-radius: 3px; }
            25% { transform: translateY(9px) rotate(22.5deg); }
            50% {
                transform: translateY(18px) scale(1,.9) rotate(45deg) ;
                border-bottom-right-radius: 30px;
            }
            75% { transform: translateY(9px) rotate(67.5deg); }
            100% { transform: translateY(0) rotate(90deg); }
        }
        .loader-shadow {
            width: 50px;
            height: 5px;
            background: $black;
            opacity: 0.15;
            @include border-radius-50;
            animation: shadow-animate .9s linear infinite;
        }
        @keyframes shadow-animate {
            50% {
                transform: scale(1.2,1);
            }
        }
    }
}

// skeleton loader
.react-loading-skeleton {
    margin-bottom: 10px;
    height: 60px;
    line-height: normal !important;
    box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.08);
    background-color: #ecf2f9 !important;
    background-image: linear-gradient( 90deg, #ecf2f9, #f0f7ff, #ecf2f9) !important;
    background-size: 30% 100% !important;
    background-repeat: no-repeat;
    animation-duration: 1.5s !important;
    &.skeleton-list-loader:first-of-type {
        height: 30px;
    }
    &.skeleton-list-loader:last-of-type {
        height: 50px;
        margin-bottom: 0;
    }
    &.skeleton-connector-loader {
        flex: 0 0 14.28%;
        max-width: 14.28%;
        height: 133px;
        box-shadow: none;
        background-color: transparent !important;
        background-image: none !important;
        animation: none !important;
        position: relative;
        &::before, &::after {
            content: '';
            background-color: #ecf2f9 !important;
            background-image: linear-gradient( 90deg, #ecf2f9, #f0f7ff, #ecf2f9) !important;
            animation: animation-16jpnkj 1.5s ease-in-out infinite !important;
            background-size: 100px 100% !important;
            background-repeat: no-repeat;
            box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.08);
        }
        &::before {
            width: 82px;
            height: 82px;
            margin-bottom: 20px;
            @include border-radius-50;
            @include transform-left-center-align;
            top: 10px;
        }
        &::after {
            width: 80%;
            height: 14px;
            border-radius: 5px;
            margin: 0 auto;
            @include transform-left-center-align;
            bottom: 10px;
        }
    }
}
// end skeleton loader

