/* ***********************************************************************
* 83incs CONFIDENTIAL
* ***********************************************************************
*
*  [2017] - [2022] 83incs Ltd.
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of 83incs Ltd, IoT83 Ltd, its suppliers (if any), its subsidiaries (if any) and
* Source Code Licenses (if any).  The intellectual and technical concepts contained
* herein are proprietary to 83incs Ltd, IoT83 Ltd, its subsidiaries (if any) and
* Source Code Licenses (if any) and may be covered by U.S. and Foreign Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from 83incs Ltd or IoT83 Ltd.
****************************************************************************
*/

// flex basis
.d-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flex-5 {
    flex-basis: 5% !important;
    max-width: 5% !important;
}
.flex-7_5 {
    flex-basis: 7.5% !important;
    max-width: 7.5% !important;
}
.flex-10 {
    flex-basis: 10% !important;
    max-width: 10% !important;
}
.flex-12_5 {
    flex-basis: 12.5% !important;
    max-width: 12.5% !important;
}
.flex-15 {
    flex-basis: 15% !important;
    max-width: 15% !important;
}
.flex-16_6 {
    flex-basis: 16.65% !important;
    max-width: 16.65% !important;
}
.flex-17_5 {
    flex-basis: 17.5% !important;
    max-width: 17.5% !important;
}
.flex-18_3 {
    flex-basis: 18.33% !important;
    max-width: 18.33% !important;
}
.flex-20 {
    flex-basis: 20% !important;
    max-width: 20% !important;
}
.flex-22_5 {
    flex-basis: 22.5% !important;
    max-width: 22.5% !important;
}
.flex-25 {
    flex-basis: 25% !important;
    max-width: 25% !important;
}
.flex-27_5 {
    flex-basis: 27.5% !important;
    max-width: 27.5% !important;
}
.flex-30 {
    flex-basis: 30% !important;
    max-width: 30% !important;
}
.flex-33 {
    flex-basis: 33.33% !important;
    max-width: 33.33% !important;
}
.flex-35 {
    flex-basis: 35% !important;
    max-width: 35% !important;
}
.flex-37_5 {
    flex-basis: 37.5% !important;
    max-width: 37.5% !important;
}
.flex-40 {
    flex-basis: 40% !important;
    max-width: 40% !important;
}
.flex-42_5 {
    flex-basis: 42.5% !important;
    max-width: 42.5% !important;
}
.flex-45 {
    flex-basis: 45% !important;
    max-width: 45% !important;
}
.flex-50 {
    flex-basis: 50% !important;
    max-width: 50% !important;
}
.flex-55 {
    flex-basis: 55% !important;
    max-width: 55% !important;
}
.flex-60 {
    flex-basis: 60% !important;
    max-width: 60% !important;
}
.flex-65 {
    flex-basis: 65% !important;
    max-width: 65% !important;
}
.flex-70 {
    flex-basis: 70% !important;
    max-width: 70% !important;
}
.flex-75 {
    flex-basis: 75% !important;
    max-width: 75% !important;
}
.flex-80 {
    flex-basis: 80% !important;
    max-width: 80% !important;
}
.flex-85 {
    flex-basis: 85% !important;
    max-width: 85% !important;
}
.flex-90 {
    flex-basis: 90% !important;
    max-width: 90% !important;
}
.flex-95 {
    flex-basis: 95% !important;
    max-width: 95% !important;
}
.flex-100 {
    flex-basis: 100% !important;
    max-width: 100% !important;
}
// end flex basis