/* ***********************************************************************
* 83incs CONFIDENTIAL
* ***********************************************************************
*
*  [2017] - [2022] 83incs Ltd.
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of 83incs Ltd, IoT83 Ltd, its suppliers (if any), its subsidiaries (if any) and
* Source Code Licenses (if any).  The intellectual and technical concepts contained
* herein are proprietary to 83incs Ltd, IoT83 Ltd, its subsidiaries (if any) and
* Source Code Licenses (if any) and may be covered by U.S. and Foreign Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from 83incs Ltd or IoT83 Ltd.
****************************************************************************
*/

// margin top
.mr-t-0 {
    margin-top: 0 !important;
}
.mr-t-1 {
    margin-top: 1px !important;
}
.mr-t-2 {
    margin-top: 2px !important;
}
.mr-t-3 {
    margin-top: 3px !important;
}
.mr-t-4 {
    margin-top: 4px !important;
}
.mr-t-5 {
    margin-top: 5px !important;
}
.mr-t-6 {
    margin-top: 6px !important;
}
.mr-t-7 {
    margin-top: 7px !important;
}
.mr-t-8 {
    margin-top: 8px !important;
}
.mr-t-9 {
    margin-top: 9px !important;
}
.mr-t-10 {
    margin-top: 10px !important;
}
.mr-t-11 {
    margin-top: 11px !important;
}
.mr-t-12 {
    margin-top: 12px !important;
}
.mr-t-13 {
    margin-top: 13px !important;
}
.mr-t-14 {
    margin-top: 14px !important;
}
.mr-t-15 {
    margin-top: 15px !important;
}
.mr-t-16 {
    margin-top: 16px !important;
}
.mr-t-17 {
    margin-top: 17px !important;
}
.mr-t-18 {
    margin-top: 18px !important;
}
.mr-t-19 {
    margin-top: 19px !important;
}
.mr-t-20 {
    margin-top: 20px !important;
}
.mr-t-21 {
    margin-top: 21px !important;
}
.mr-t-22 {
    margin-top: 22px !important;
}
.mr-t-23 {
    margin-top: 23px !important;
}
.mr-t-24 {
    margin-top: 24px !important;
}
.mr-t-25 {
    margin-top: 25px !important;
}
.mr-t-26 {
    margin-top: 26px !important;
}
.mr-t-27 {
    margin-top: 27px !important;
}
.mr-t-28 {
    margin-top: 28px !important;
}
.mr-t-29 {
    margin-top: 29px !important;
}
.mr-t-30 {
    margin-top: 30px !important;
}
.mr-t-31 {
    margin-top: 31px !important;
}
.mr-t-32 {
    margin-top: 32px !important;
}
.mr-t-33 {
    margin-top: 33px !important;
}
.mr-t-34 {
    margin-top: 34px !important;
}
.mr-t-35 {
    margin-top: 35px !important;
}
.mr-t-36 {
    margin-top: 36px !important;
}
.mr-t-37 {
    margin-top: 37px !important;
}
.mr-t-38 {
    margin-top: 38px !important;
}
.mr-t-39 {
    margin-top: 39px !important;
}
.mr-t-40 {
    margin-top: 40px !important;
}
.mr-t-41 {
    margin-top: 41px !important;
}
.mr-t-42 {
    margin-top: 42px !important;
}
.mr-t-43 {
    margin-top: 43px !important;
}
.mr-t-44 {
    margin-top: 44px !important;
}
.mr-t-45 {
    margin-top: 45px !important;
}
.mr-t-46 {
    margin-top: 46px !important;
}
.mr-t-47 {
    margin-top: 47px !important;
}
.mr-t-48 {
    margin-top: 48px !important;
}
.mr-t-49 {
    margin-top: 49px !important;
}
.mr-t-50 {
    margin-top: 50px !important;
}
// end margin top

// margin right
.mr-r-0 {
    margin-right: 0 !important;
}
.mr-r-1 {
    margin-right: 1px !important;
}
.mr-r-2 {
    margin-right: 2px !important;
}
.mr-r-3 {
    margin-right: 3px !important;
}
.mr-r-4 {
    margin-right: 4px !important;
}
.mr-r-5 {
    margin-right: 5px !important;
}
.mr-r-6 {
    margin-right: 6px !important;
}
.mr-r-7 {
    margin-right: 7px !important;
}
.mr-r-8 {
    margin-right: 8px !important;
}
.mr-r-9 {
    margin-right: 9px !important;
}
.mr-r-10 {
    margin-right: 10px !important;
}
.mr-r-11 {
    margin-right: 11px !important;
}
.mr-r-12 {
    margin-right: 12px !important;
}
.mr-r-13 {
    margin-right: 13px !important;
}
.mr-r-14 {
    margin-right: 14px !important;
}
.mr-r-15 {
    margin-right: 15px !important;
}
.mr-r-16 {
    margin-right: 16px !important;
}
.mr-r-17 {
    margin-right: 17px !important;
}
.mr-r-18 {
    margin-right: 18px !important;
}
.mr-r-19 {
    margin-right: 19px !important;
}
.mr-r-20 {
    margin-right: 20px !important;
}
.mr-r-21 {
    margin-right: 21px !important;
}
.mr-r-22 {
    margin-right: 22px !important;
}
.mr-r-23 {
    margin-right: 23px !important;
}
.mr-r-24 {
    margin-right: 24px !important;
}
.mr-r-25 {
    margin-right: 25px !important;
}
.mr-r-26 {
    margin-right: 26px !important;
}
.mr-r-27 {
    margin-right: 27px !important;
}
.mr-r-28 {
    margin-right: 28px !important;
}
.mr-r-29 {
    margin-right: 29px !important;
}
.mr-r-30 {
    margin-right: 30px !important;
}
.mr-r-31 {
    margin-right: 31px !important;
}
.mr-r-32 {
    margin-right: 32px !important;
}
.mr-r-33 {
    margin-right: 33px !important;
}
.mr-r-34 {
    margin-right: 34px !important;
}
.mr-r-35 {
    margin-right: 35px !important;
}
.mr-r-36 {
    margin-right: 36px !important;
}
.mr-r-37 {
    margin-right: 37px !important;
}
.mr-r-38 {
    margin-right: 38px !important;
}
.mr-r-39 {
    margin-right: 39px !important;
}
.mr-r-40 {
    margin-right: 40px !important;
}
.mr-r-41 {
    margin-right: 41px !important;
}
.mr-r-42 {
    margin-right: 42px !important;
}
.mr-r-43 {
    margin-right: 43px !important;
}
.mr-r-44 {
    margin-right: 44px !important;
}
.mr-r-45 {
    margin-right: 45px !important;
}
.mr-r-46 {
    margin-right: 46px !important;
}
.mr-r-47 {
    margin-right: 47px !important;
}
.mr-r-48 {
    margin-right: 48px !important;
}
.mr-r-49 {
    margin-right: 49px !important;
}
.mr-r-50 {
    margin-right: 50px !important;
}
// end margin right

// margin bottom
.mr-b-0 {
    margin-bottom: 0 !important;
}
.mr-b-1 {
    margin-bottom: 1px !important;
}
.mr-b-2 {
    margin-bottom: 2px !important;
}
.mr-b-3 {
    margin-bottom: 3px !important;
}
.mr-b-4 {
    margin-bottom: 4px !important;
}
.mr-b-5 {
    margin-bottom: 5px !important;
}
.mr-b-6 {
    margin-bottom: 6px !important;
}
.mr-b-7 {
    margin-bottom: 7px !important;
}
.mr-b-8 {
    margin-bottom: 8px !important;
}
.mr-b-9 {
    margin-bottom: 9px !important;
}
.mr-b-10 {
    margin-bottom: 10px !important;
}
.mr-b-11 {
    margin-bottom: 11px !important;
}
.mr-b-12 {
    margin-bottom: 12px !important;
}
.mr-b-13 {
    margin-bottom: 13px !important;
}
.mr-b-14 {
    margin-bottom: 14px !important;
}
.mr-b-15 {
    margin-bottom: 15px !important;
}
.mr-b-16 {
    margin-bottom: 16px !important;
}
.mr-b-17 {
    margin-bottom: 17px !important;
}
.mr-b-18 {
    margin-bottom: 18px !important;
}
.mr-b-19 {
    margin-bottom: 19px !important;
}
.mr-b-20 {
    margin-bottom: 20px !important;
}
.mr-b-21 {
    margin-bottom: 21px !important;
}
.mr-b-22 {
    margin-bottom: 22px !important;
}
.mr-b-23 {
    margin-bottom: 23px !important;
}
.mr-b-24 {
    margin-bottom: 24px !important;
}
.mr-b-25 {
    margin-bottom: 25px !important;
}
.mr-b-26 {
    margin-bottom: 26px !important;
}
.mr-b-27 {
    margin-bottom: 27px !important;
}
.mr-b-28 {
    margin-bottom: 28px !important;
}
.mr-b-29 {
    margin-bottom: 29px !important;
}
.mr-b-30 {
    margin-bottom: 30px !important;
}
.mr-b-31 {
    margin-bottom: 31px !important;
}
.mr-b-32 {
    margin-bottom: 32px !important;
}
.mr-b-33 {
    margin-bottom: 33px !important;
}
.mr-b-34 {
    margin-bottom: 34px !important;
}
.mr-b-35 {
    margin-bottom: 35px !important;
}
.mr-b-36 {
    margin-bottom: 36px !important;
}
.mr-b-37 {
    margin-bottom: 37px !important;
}
.mr-b-38 {
    margin-bottom: 38px !important;
}
.mr-b-39 {
    margin-bottom: 39px !important;
}
.mr-b-40 {
    margin-bottom: 40px !important;
}
.mr-b-41 {
    margin-bottom: 41px !important;
}
.mr-b-42 {
    margin-bottom: 42px !important;
}
.mr-b-43 {
    margin-bottom: 43px !important;
}
.mr-b-44 {
    margin-bottom: 44px !important;
}
.mr-b-45 {
    margin-bottom: 45px !important;
}
.mr-b-46 {
    margin-bottom: 46px !important;
}
.mr-b-47 {
    margin-bottom: 47px !important;
}
.mr-b-48 {
    margin-bottom: 48px !important;
}
.mr-b-49 {
    margin-bottom: 49px !important;
}
.mr-b-50 {
    margin-bottom: 50px !important;
}
// end margin bottom

// margin left

.mr-l-0 {
    margin-left: 0 !important;
}
.mr-l-1 {
    margin-left: 1px !important;
}
.mr-l-2 {
    margin-left: 2px !important;
}
.mr-l-3 {
    margin-left: 3px !important;
}
.mr-l-4 {
    margin-left: 4px !important;
}
.mr-l-5 {
    margin-left: 5px !important;
}
.mr-l-6 {
    margin-left: 6px !important;
}
.mr-l-7 {
    margin-left: 7px !important;
}
.mr-l-8 {
    margin-left: 8px !important;
}
.mr-l-9 {
    margin-left: 9px !important;
}
.mr-l-10 {
    margin-left: 10px !important;
}
.mr-l-11 {
    margin-left: 11px !important;
}
.mr-l-12 {
    margin-left: 12px !important;
}
.mr-l-13 {
    margin-left: 13px !important;
}
.mr-l-14 {
    margin-left: 14px !important;
}
.mr-l-15 {
    margin-left: 15px !important;
}
.mr-l-16 {
    margin-left: 16px !important;
}
.mr-l-17 {
    margin-left: 17px !important;
}
.mr-l-18 {
    margin-left: 18px !important;
}
.mr-l-19 {
    margin-left: 19px !important;
}
.mr-l-20 {
    margin-left: 20px !important;
}
.mr-l-21 {
    margin-left: 21px !important;
}
.mr-l-22 {
    margin-left: 22px !important;
}
.mr-l-23 {
    margin-left: 23px !important;
}
.mr-l-24 {
    margin-left: 24px !important;
}
.mr-l-25 {
    margin-left: 25px !important;
}
.mr-l-26 {
    margin-left: 26px !important;
}
.mr-l-27 {
    margin-left: 27px !important;
}
.mr-l-28 {
    margin-left: 28px !important;
}
.mr-l-29 {
    margin-left: 29px !important;
}
.mr-l-30 {
    margin-left: 30px !important;
}
.mr-l-31 {
    margin-left: 31px !important;
}
.mr-l-32 {
    margin-left: 32px !important;
}
.mr-l-33 {
    margin-left: 33px !important;
}
.mr-l-34 {
    margin-left: 34px !important;
}
.mr-l-35 {
    margin-left: 35px !important;
}
.mr-l-36 {
    margin-left: 36px !important;
}
.mr-l-37 {
    margin-left: 37px !important;
}
.mr-l-38 {
    margin-left: 38px !important;
}
.mr-l-39 {
    margin-left: 39px !important;
}
.mr-l-40 {
    margin-left: 40px !important;
}
.mr-l-41 {
    margin-left: 41px !important;
}
.mr-l-42 {
    margin-left: 42px !important;
}
.mr-l-43 {
    margin-left: 43px !important;
}
.mr-l-44 {
    margin-left: 44px !important;
}
.mr-l-45 {
    margin-left: 45px !important;
}
.mr-l-46 {
    margin-left: 46px !important;
}
.mr-l-47 {
    margin-left: 47px !important;
}
.mr-l-48 {
    margin-left: 48px !important;
}
.mr-l-49 {
    margin-left: 49px !important;
}
.mr-l-50 {
    margin-left: 50px !important;
}
// end margin left