/* ***********************************************************************
* 83incs CONFIDENTIAL
* ***********************************************************************
*
*  [2017] - [2022] 83incs Ltd.
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of 83incs Ltd, IoT83 Ltd, its suppliers (if any), its subsidiaries (if any) and
* Source Code Licenses (if any).  The intellectual and technical concepts contained
* herein are proprietary to 83incs Ltd, IoT83 Ltd, its subsidiaries (if any) and
* Source Code Licenses (if any) and may be covered by U.S. and Foreign Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from 83incs Ltd or IoT83 Ltd.
****************************************************************************
*/

// padding left
.pd-t-0 {
    padding-top: 0 !important;
}
.pd-t-1 {
    padding-top: 1px !important;
}
.pd-t-2 {
    padding-top: 2px !important;
}
.pd-t-3 {
    padding-top: 3px !important;
}
.pd-t-4 {
    padding-top: 4px !important;
}
.pd-t-5 {
    padding-top: 5px !important;
}
.pd-t-6 {
    padding-top: 6px !important;
}
.pd-t-7 {
    padding-top: 7px !important;
}
.pd-t-8 {
    padding-top: 8px !important;
}
.pd-t-9 {
    padding-top: 9px !important;
}
.pd-t-10 {
    padding-top: 10px !important;
}
.pd-t-11 {
    padding-top: 11px !important;
}
.pd-t-12 {
    padding-top: 12px !important;
}
.pd-t-13 {
    padding-top: 13px !important;
}
.pd-t-14 {
    padding-top: 14px !important;
}
.pd-t-15 {
    padding-top: 15px !important;
}
.pd-t-16 {
    padding-top: 16px !important;
}
.pd-t-17 {
    padding-top: 17px !important;
}
.pd-t-18 {
    padding-top: 18px !important;
}
.pd-t-19 {
    padding-top: 19px !important;
}
.pd-t-20 {
    padding-top: 20px !important;
}
.pd-t-21 {
    padding-top: 21px !important;
}
.pd-t-22 {
    padding-top: 22px !important;
}
.pd-t-23 {
    padding-top: 23px !important;
}
.pd-t-24 {
    padding-top: 24px !important;
}
.pd-t-25 {
    padding-top: 25px !important;
}
.pd-t-26 {
    padding-top: 26px !important;
}
.pd-t-27 {
    padding-top: 27px !important;
}
.pd-t-28 {
    padding-top: 28px !important;
}
.pd-t-29 {
    padding-top: 29px !important;
}
.pd-t-30 {
    padding-top: 30px !important;
}
.pd-t-31 {
    padding-top: 31px !important;
}
.pd-t-32 {
    padding-top: 32px !important;
}
.pd-t-33 {
    padding-top: 33px !important;
}
.pd-t-34 {
    padding-top: 34px !important;
}
.pd-t-35 {
    padding-top: 35px !important;
}
.pd-t-36 {
    padding-top: 36px !important;
}
.pd-t-37 {
    padding-top: 37px !important;
}
.pd-t-38 {
    padding-top: 38px !important;
}
.pd-t-39 {
    padding-top: 39px !important;
}
.pd-t-40 {
    padding-top: 40px !important;
}
.pd-t-41 {
    padding-top: 41px !important;
}
.pd-t-42 {
    padding-top: 42px !important;
}
.pd-t-43 {
    padding-top: 43px !important;
}
.pd-t-44 {
    padding-top: 44px !important;
}
.pd-t-45 {
    padding-top: 45px !important;
}
.pd-t-46 {
    padding-top: 46px !important;
}
.pd-t-47 {
    padding-top: 47px !important;
}
.pd-t-48 {
    padding-top: 48px !important;
}
.pd-t-49 {
    padding-top: 49px !important;
}
.pd-t-50 {
    padding-top: 50px !important;
}
// padding top

// padding right
.pd-r-0 {
    padding-right: 0 !important;
}
.pd-r-1 {
    padding-right: 1px !important;
}
.pd-r-2 {
    padding-right: 2px !important;
}
.pd-r-3 {
    padding-right: 3px !important;
}
.pd-r-4 {
    padding-right: 4px !important;
}
.pd-r-5 {
    padding-right: 5px !important;
}
.pd-r-6 {
    padding-right: 6px !important;
}
.pd-r-7 {
    padding-right: 7px !important;
}
.pd-r-8 {
    padding-right: 8px !important;
}
.pd-r-9 {
    padding-right: 9px !important;
}
.pd-r-10 {
    padding-right: 10px !important;
}
.pd-r-11 {
    padding-right: 11px !important;
}
.pd-r-12 {
    padding-right: 12px !important;
}
.pd-r-13 {
    padding-right: 13px !important;
}
.pd-r-14 {
    padding-right: 14px !important;
}
.pd-r-15 {
    padding-right: 15px !important;
}
.pd-r-16 {
    padding-right: 16px !important;
}
.pd-r-17 {
    padding-right: 17px !important;
}
.pd-r-18 {
    padding-right: 18px !important;
}
.pd-r-19 {
    padding-right: 19px !important;
}
.pd-r-20 {
    padding-right: 20px !important;
}
.pd-r-21 {
    padding-right: 21px !important;
}
.pd-r-22 {
    padding-right: 22px !important;
}
.pd-r-23 {
    padding-right: 23px !important;
}
.pd-r-24 {
    padding-right: 24px !important;
}
.pd-r-25 {
    padding-right: 25px !important;
}
.pd-r-26 {
    padding-right: 26px !important;
}
.pd-r-27 {
    padding-right: 27px !important;
}
.pd-r-28 {
    padding-right: 28px !important;
}
.pd-r-29 {
    padding-right: 29px !important;
}
.pd-r-30 {
    padding-right: 30px !important;
}
.pd-r-31 {
    padding-right: 31px !important;
}
.pd-r-32 {
    padding-right: 32px !important;
}
.pd-r-33 {
    padding-right: 33px !important;
}
.pd-r-34 {
    padding-right: 34px !important;
}
.pd-r-35 {
    padding-right: 35px !important;
}
.pd-r-36 {
    padding-right: 36px !important;
}
.pd-r-37 {
    padding-right: 37px !important;
}
.pd-r-38 {
    padding-right: 38px !important;
}
.pd-r-39 {
    padding-right: 39px !important;
}
.pd-r-40 {
    padding-right: 40px !important;
}
.pd-r-41 {
    padding-right: 41px !important;
}
.pd-r-42 {
    padding-right: 42px !important;
}
.pd-r-43 {
    padding-right: 43px !important;
}
.pd-r-44 {
    padding-right: 44px !important;
}
.pd-r-45 {
    padding-right: 45px !important;
}
.pd-r-46 {
    padding-right: 46px !important;
}
.pd-r-47 {
    padding-right: 47px !important;
}
.pd-r-48 {
    padding-right: 48px !important;
}
.pd-r-49 {
    padding-right: 49px !important;
}
.pd-r-50 {
    padding-right: 50px !important;
}
// end padding right

// padding bottom
.pd-b-0 {
    padding-bottom: 0 !important;
}
.pd-b-1 {
    padding-bottom: 1px !important;
}
.pd-b-2 {
    padding-bottom: 2px !important;
}
.pd-b-3 {
    padding-bottom: 3px !important;
}
.pd-b-4 {
    padding-bottom: 4px !important;
}
.pd-b-5 {
    padding-bottom: 5px !important;
}
.pd-b-6 {
    padding-bottom: 6px !important;
}
.pd-b-7 {
    padding-bottom: 7px !important;
}
.pd-b-8 {
    padding-bottom: 8px !important;
}
.pd-b-9 {
    padding-bottom: 9px !important;
}
.pd-b-10 {
    padding-bottom: 10px !important;
}
.pd-b-11 {
    padding-bottom: 11px !important;
}
.pd-b-12 {
    padding-bottom: 12px !important;
}
.pd-b-13 {
    padding-bottom: 13px !important;
}
.pd-b-14 {
    padding-bottom: 14px !important;
}
.pd-b-15 {
    padding-bottom: 15px !important;
}
.pd-b-16 {
    padding-bottom: 16px !important;
}
.pd-b-17 {
    padding-bottom: 17px !important;
}
.pd-b-18 {
    padding-bottom: 18px !important;
}
.pd-b-19 {
    padding-bottom: 19px !important;
}
.pd-b-20 {
    padding-bottom: 20px !important;
}
.pd-b-21 {
    padding-bottom: 21px !important;
}
.pd-b-22 {
    padding-bottom: 22px !important;
}
.pd-b-23 {
    padding-bottom: 23px !important;
}
.pd-b-24 {
    padding-bottom: 24px !important;
}
.pd-b-25 {
    padding-bottom: 25px !important;
}
.pd-b-26 {
    padding-bottom: 26px !important;
}
.pd-b-27 {
    padding-bottom: 27px !important;
}
.pd-b-28 {
    padding-bottom: 28px !important;
}
.pd-b-29 {
    padding-bottom: 29px !important;
}
.pd-b-30 {
    padding-bottom: 30px !important;
}
.pd-b-31 {
    padding-bottom: 31px !important;
}
.pd-b-32 {
    padding-bottom: 32px !important;
}
.pd-b-33 {
    padding-bottom: 33px !important;
}
.pd-b-34 {
    padding-bottom: 34px !important;
}
.pd-b-35 {
    padding-bottom: 35px !important;
}
.pd-b-36 {
    padding-bottom: 36px !important;
}
.pd-b-37 {
    padding-bottom: 37px !important;
}
.pd-b-38 {
    padding-bottom: 38px !important;
}
.pd-b-39 {
    padding-bottom: 39px !important;
}
.pd-b-40 {
    padding-bottom: 40px !important;
}
.pd-b-41 {
    padding-bottom: 41px !important;
}
.pd-b-42 {
    padding-bottom: 42px !important;
}
.pd-b-43 {
    padding-bottom: 43px !important;
}
.pd-b-44 {
    padding-bottom: 44px !important;
}
.pd-b-45 {
    padding-bottom: 45px !important;
}
.pd-b-46 {
    padding-bottom: 46px !important;
}
.pd-b-47 {
    padding-bottom: 47px !important;
}
.pd-b-48 {
    padding-bottom: 48px !important;
}
.pd-b-49 {
    padding-bottom: 49px !important;
}
.pd-b-50 {
    padding-bottom: 50px !important;
}
.pd-b-60 {
    padding-bottom: 60px !important;
}
// end padding bottom

// padding left
.pd-l-0 {
    padding-left: 0 !important;
}
.pd-l-1 {
    padding-left: 1px !important;
}
.pd-l-2 {
    padding-left: 2px !important;
}
.pd-l-3 {
    padding-left: 3px !important;
}
.pd-l-4 {
    padding-left: 4px !important;
}
.pd-l-5 {
    padding-left: 5px !important;
}
.pd-l-6 {
    padding-left: 6px !important;
}
.pd-l-7 {
    padding-left: 7px !important;
}
.pd-l-8 {
    padding-left: 8px !important;
}
.pd-l-9 {
    padding-left: 9px !important;
}
.pd-l-10 {
    padding-left: 10px !important;
}
.pd-l-11 {
    padding-left: 11px !important;
}
.pd-l-12 {
    padding-left: 12px !important;
}
.pd-l-13 {
    padding-left: 13px !important;
}
.pd-l-14 {
    padding-left: 14px !important;
}
.pd-l-15 {
    padding-left: 15px !important;
}
.pd-l-16 {
    padding-left: 16px !important;
}
.pd-l-17 {
    padding-left: 17px !important;
}
.pd-l-18 {
    padding-left: 18px !important;
}
.pd-l-19 {
    padding-left: 19px !important;
}
.pd-l-20 {
    padding-left: 20px !important;
}
.pd-l-21 {
    padding-left: 21px !important;
}
.pd-l-22 {
    padding-left: 22px !important;
}
.pd-l-23 {
    padding-left: 23px !important;
}
.pd-l-24 {
    padding-left: 24px !important;
}
.pd-l-25 {
    padding-left: 25px !important;
}
.pd-l-26 {
    padding-left: 26px !important;
}
.pd-l-27 {
    padding-left: 27px !important;
}
.pd-l-28 {
    padding-left: 28px !important;
}
.pd-l-29 {
    padding-left: 29px !important;
}
.pd-l-30 {
    padding-left: 30px !important;
}
.pd-l-31 {
    padding-left: 31px !important;
}
.pd-l-32 {
    padding-left: 32px !important;
}
.pd-l-33 {
    padding-left: 33px !important;
}
.pd-l-34 {
    padding-left: 34px !important;
}
.pd-l-35 {
    padding-left: 35px !important;
}
.pd-l-36 {
    padding-left: 36px !important;
}
.pd-l-37 {
    padding-left: 37px !important;
}
.pd-l-38 {
    padding-left: 38px !important;
}
.pd-l-39 {
    padding-left: 39px !important;
}
.pd-l-40 {
    padding-left: 40px !important;
}
.pd-l-41 {
    padding-left: 41px !important;
}
.pd-l-42 {
    padding-left: 42px !important;
}
.pd-l-43 {
    padding-left: 43px !important;
}
.pd-l-44 {
    padding-left: 44px !important;
}
.pd-l-45 {
    padding-left: 45px !important;
}
.pd-l-46 {
    padding-left: 46px !important;
}
.pd-l-47 {
    padding-left: 47px !important;
}
.pd-l-48 {
    padding-left: 48px !important;
}
.pd-l-49 {
    padding-left: 49px !important;
}
.pd-l-50 {
    padding-left: 50px !important;
}
// end padding left