/* ***********************************************************************
* 83incs CONFIDENTIAL
* ***********************************************************************
*
*  [2017] - [2022] 83incs Ltd.
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of 83incs Ltd, IoT83 Ltd, its suppliers (if any), its subsidiaries (if any) and
* Source Code Licenses (if any).  The intellectual and technical concepts contained
* herein are proprietary to 83incs Ltd, IoT83 Ltd, its subsidiaries (if any) and
* Source Code Licenses (if any) and may be covered by U.S. and Foreign Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from 83incs Ltd or IoT83 Ltd.
****************************************************************************
*/

// portal colors
$light-bg: rgba(231, 244, 253, 0.65);
$content-color: #808080;
$text-color: #4a4a4a;
$label-color: #466081;
$border-color: #e6e6e6;
$border-color-dark: #bfbfbf;

// custom colors
$cyan : #17a2b8;
$white: #fff;
$black: #000;
$red: #ff3300;
$green: #00b300;
$orange: #ff8c1a;
$yellow: #ffcf00;
$light-gray: #c2c2d6;
$indigo: #8171d9;
$pink: #e83e8c;
$blue: #007bff;
$light-badge :#ECF0F1;
$dignostics-bg:#E5E7E9;

// alarms colors
$critical-color: #e2030f;
$major-color: #fb7f37;
$minor-color: #fbbd50;
$warning-color: #ffd633;