/* ***********************************************************************
* 83incs CONFIDENTIAL
* ***********************************************************************
*
*  [2017] - [2022] 83incs Ltd.
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of 83incs Ltd, IoT83 Ltd, its suppliers (if any), its subsidiaries (if any) and
* Source Code Licenses (if any).  The intellectual and technical concepts contained
* herein are proprietary to 83incs Ltd, IoT83 Ltd, its subsidiaries (if any) and
* Source Code Licenses (if any) and may be covered by U.S. and Foreign Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from 83incs Ltd or IoT83 Ltd.
****************************************************************************
*/

@import "../themes/variables";
@import "../themes/theme";
@import "../utils/mixins";

.application-wrapper {
	height: calc(100vh - 184px);
	position: relative;

	.application-menu-wrapper {
		position: relative;
		height: 100%;
		overflow-y: auto;

		li {
			position: relative;
			padding: 15px 10px;
			border: 1px dashed $border-color;
			border-radius: 3px;
			margin-bottom: 15px;
			&::after {
				content: "";
				position: absolute;
				top: 55px;
				left: 30px;
				height: calc(100% - 90px);
				border-left: 1px solid $border-color;
			}
			ul {
				li {
					border: 0;
					margin-bottom: 0;
					padding: 15px 0 0;
				}
			}
			&.application-menu-active, &:hover {
				border-color: $theme;
				cursor: all-scroll;
			}
			.application-menu {
				padding: 0 80px 0 50px;
				position: relative;

				.application-menu-icon {
					@include transform-top-center-align;
					left: 0;
					width: 40px;
					height: 40px;
					border: 1px solid $border-color;
					border-radius: 4px;
					@include flex-center-align;
					color: $text-color;
				}
				.application-menu-icon-select {
					@include card-box;
					@include position-top-left;
					top: calc(100% + 10px);
					width: 260px;
					z-index: 1;
					padding: 12px;
					&::before {
						content: '\f0d8';
						font: {
							family: "Font Awesome 5 Pro";
							size: 26px;
							weight: 900;
						};
						color: $border-color;
						position: absolute;
						top: -25px;
						left: 10px;
					}
				}
				.form-group {
					margin: 0;
					&:nth-child(3) {
						.form-control {
							border: 1px dashed $border-color;
							box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1) !important;
							background-color: $light-bg;
						}
					}
				}
				.button-group {
					@include transform-top-center-align;
					right: -10px;
					.btn-transparent {
						margin-right: 5px;
					}
				}
			}

			.application-sub-menu {
				padding-right: 50px;
				margin-left: 40px;

				&::before {
					content: "";
					@include transform-top-center-align;
					left: -20px;
					border-top: 1px solid $border-color;
					width: 15px;
				}
				&::after {
					content: "";
					@include transform-top-center-align;
					left: -5px;
					width: 8px;
					height: 8px;
					background-color: $light-gray;
					border-radius: 50%;
				}
			}
		}

		.application-menu-button {
			position: sticky;
			bottom: 0;
			background-color: $white;
			text-align: center;
			.btn-link {
				padding-bottom: 0;
			}
		}
	}

	.application-search-wrapper {
		position: relative;
		height: 100%;
		overflow-y: auto;

		.form-group {
			@include position-left-right;
			top: 0;
			margin: 0;
			.application-search-icon {
				@include transform-top-center-align;
				color: $content-color;
				left: 15px;
			}
			.form-control {
				padding-left: 35px;
				padding-right: 30px;
				border-radius: 20px;
			}
			.btn {
				@include transform-top-center-align;
				right: 0;
				&:hover {
					color: $theme;
				}
			}
		}

		ul {
			height: calc(100% - 50px);
			overflow-y: auto;
			margin-top: 50px;
			li {
				margin-bottom: 10px;
				padding: 10px 20px;
				color: $text-color;
				border: 1px dashed $border-color;
				border-radius: 2px;
				@include transition-3s;
				&:hover {
					background-color: $light-bg;
					cursor: all-scroll;
					color: $theme;
					border-color: $theme;
					@include transition-3s;
				}
			}
		}

		.application-search-content {
			height: 100%;
			@include flex-center-align;
			text-align: center;
			.application-search-image {
				width: 80px;
				height: 80px;
				margin: 0 auto 15px;
				img {
					@include image;
				}
			}
			p {
				color: $content-color;
				margin: 0;
			}
		}
	}
}



