/* ***********************************************************************
* 83incs CONFIDENTIAL
* ***********************************************************************
*
*  [2017] - [2022] 83incs Ltd.
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of 83incs Ltd, IoT83 Ltd, its suppliers (if any), its subsidiaries (if any) and
* Source Code Licenses (if any).  The intellectual and technical concepts contained
* herein are proprietary to 83incs Ltd, IoT83 Ltd, its subsidiaries (if any) and
* Source Code Licenses (if any) and may be covered by U.S. and Foreign Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from 83incs Ltd or IoT83 Ltd.
****************************************************************************
*/

@import "../themes/variables";
@import "../themes/theme";
@import "../utils/mixins";

.collection-content-wrapper {
    .collection-list {
        li {
            border-bottom: 1px solid $border-color;
            ul {
                padding-left: 40px;
                li:last-of-type {
                    border-bottom: 0;
                }
            }
        }
        .collection-list-box {
            position: relative;
            padding: 12px 45px 12px 20px;
            span {
                position: absolute;
                top: 13px;
                left: -5px;
                color: $content-color;
                @include transition-3s;
                cursor: pointer;
                border: 1px solid $border-color;
                width: 13px;
                height: 13px;
                border-radius: 2px;
                font-size: 12px;
                @include flex-center-align;
                &.collapsed {
                    transform: rotate(180deg);
                    @include transition-3s;
                }
                &:hover {
                    background-color: $theme;
                    border-color: $darkTheme;
                    color: $white;
                }
            }
            h6 {
                color: $content-color;
                position: relative;
                font-size: 13px;
                margin: 0;
                @include text-truncate;
            }
            .button-group {
                @include transform-top-center-align;
                right: -5px;
                z-index: 1;
                .btn-transparent {
                    padding: 0;
                    width: 18px;
                    background-color: transparent;
                    i {
                        font-size: 12px;
                    }
                }
            }
            &:hover {
                h6 {
                    color: $theme;
                }
            }
        }

        .collection-sub-list {
            .collection-list-box {
                padding: 0 0 10px;
                span {
                    position: absolute;
                    top: 0;
                    left: -20px;
                }
            }
            p {
                color: $cyan;
                margin-bottom: 3px;
                font-size: 11px;
                padding-left: 20px;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }

    .collection-tabs {
        padding: 9px 10px;
        border-bottom: 1px solid $border-color;
        overflow-x: auto;
        flex-wrap: nowrap;
        height: 45px;
        li {
            padding-right: 5px;
            a {
                padding: 3px 25px 3px 10px;
                border: 1px solid $border-color;
                border-radius: 20px;
                position: relative;
                display: block;
                color: $content-color;
                @include text-truncate;
                font: {
                    size: 12px;
                    weight: 600;
                }
                img {
                    width: 16px;
                    margin-right: 4px;
                }
                &:hover {
                    border-color: $border-color-dark;
                    color: $text-color;
                    cursor: pointer;
                    .btn-link {
                        color: $text-color;
                    }
                }
                &.active {
                    color: $darkTheme;
                    background-color: $light-bg;
                    .btn-link {
                        color: $theme;
                    }
                }
                .btn-link {
                    @include transform-top-center-align;
                    right: 0;
                    padding: 2px 7px;
                    color: $light-gray;
                    i {
                        margin: 0;
                    }
                }
            }
        }
    }

    .collection-content-header {
        h6 {
            display: inline-block;
            margin: 0 5px 0 0;
            font-size: 12px;
            color: $content-color;
        }
        .badge {
            padding: 3px 10px;
            font-weight: 400;
            font-size: 11px;
            line-height: normal;
            margin-right: 5px;
        }
    }

    .collection-content-body {
        height: calc(100vh - 280px);
        margin: 10px 0;
        .json-input-box {
            [name=outer-box] {
                height: 100% !important;
            }
        }
    }
}