/* ***********************************************************************
* 83incs CONFIDENTIAL
* ***********************************************************************
*
*  [2017] - [2022] 83incs Ltd.
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of 83incs Ltd, IoT83 Ltd, its suppliers (if any), its subsidiaries (if any) and
* Source Code Licenses (if any).  The intellectual and technical concepts contained
* herein are proprietary to 83incs Ltd, IoT83 Ltd, its subsidiaries (if any) and
* Source Code Licenses (if any) and may be covered by U.S. and Foreign Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from 83incs Ltd or IoT83 Ltd.
****************************************************************************
*/

@import "../themes/variables";
@import "../themes/theme";
@import "../utils/mixins";

// connector form
.connector-form-list {
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 3px;
        border-right: 2px dashed $border-color;
        height: calc(100% - 20px);
    }
    .form-group-label {
        .btn-primary {
            display: inline-block;
            padding: 4px 8px;
            margin-right: 10px;
            margin-bottom: 5px;
        }
    }
    .connector-form-header {
        margin-bottom: 15px;
        padding: 0 40px;
        position: relative;
        &::before {
            content: "";
            @include transform-top-center-align;
            left: 41%;
            right: 30px;
            border-top: 2px dashed $border-color;
        }
        .btn-primary {
            padding-left: 10px;
            padding-right: 10px;
            @include position-top-bottom;
            left: 0;
        }
        .btn-transparent-red {
            @include transform-top-center-align;
            right: -5px;
        }
    }
    .connector-form-body {
        position: relative;
        padding-left: 30px;
        .form-group-label {
            padding-right: 10px;
        }
        ul {
            padding-right: 30px;
            position: relative;
            margin-bottom: 10px;
            &::before {
                content: "";
                position: absolute;
                top: 20px;
                left: -25px;
                border-top: 2px dashed $border-color;
                width: 25px;
            }
            &::after {
                content: "";
                position: absolute;
                top: 16px;
                left: -10px;
                width: 10px;
                height: 10px;
                background-color: $border-color;
                @include border-radius-50;
            }
            li {
                padding-right: 10px;
                &:last-of-type {
                    padding-right: 0;
                }
            }
            .button-group {
                @include transform-top-center-align;
                right: -5px;
            }
        }
    }
}
// end connector form

// connector list
.connector-card {
    @include transition-3s;
    padding: 10px;
    flex: 0 0 14.28%;
    max-width: 14.28%;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 4px;
    color: $black;
    @include transition-3s;

    .connector-card-image {
        height: 82px;
        width: 82px;
        margin: 0 auto 20px;
        @include card-box;
        box-shadow: 0 10px 10px rgb(0, 0, 0, 0.1);
        @include border-radius-50;
        position: relative;
        img {
            padding: 17px;
            @include image
        }
        &.disabled {
            box-shadow: none;
        }
        .connector-card-image-overlay {
            @include position-all-side;
            z-index: 1;
            background-color: rgba(255, 255, 255, 0.6);
            @include border-radius-50;
        }
    }
    &:hover {
        border-color: $border-color;
        background-color: $light-bg;
        color: $theme;
        @include transition-3s;
        cursor: pointer;
    }
    &.disabled {
        cursor: not-allowed;
        color: $light-gray;
    }
}

//ul.connector-card-list {
//    li {
//        border: 1px solid $border-color;
//        border-radius: 4px;
//        margin-bottom: 10px;
//        @include card-box;
//        .connector-list-header {
//            p {
//                color: $theme;
//                font-weight: 600;
//                padding: 12px 15px;
//                border-bottom: 1px solid $border-color;
//                margin-bottom: 0;
//                text-transform: uppercase;
//            }
//        }
//
//        .connector-list-body {
//            padding: 15px;
//            border-radius: 4px;
//        }
//
//        .btn-transparent {
//            position: absolute;
//            top: 8px;
//            right: 12px;
//        }
//
//        .connector-card-footer {
//            border-top: 1px solid $border-color;
//            padding-top: 10px;
//        }
//    }
//}
// end connector list

// device topology
.device-topology {
    padding: 15px;
    margin-bottom: 12px;
    border: 1px dashed $border-color;
    position: relative;
    border-radius: 5px;
    .form-group {
        margin-bottom: 5px;
        .form-control, .file-upload-box {
            height: 65px;
        }
    }
}
// end device topology
