/* ***********************************************************************
* 83incs CONFIDENTIAL
* ***********************************************************************
*
*  [2017] - [2022] 83incs Ltd.
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of 83incs Ltd, IoT83 Ltd, its suppliers (if any), its subsidiaries (if any) and
* Source Code Licenses (if any).  The intellectual and technical concepts contained
* herein are proprietary to 83incs Ltd, IoT83 Ltd, its subsidiaries (if any) and
* Source Code Licenses (if any) and may be covered by U.S. and Foreign Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from 83incs Ltd or IoT83 Ltd.
****************************************************************************
*/

@import "../themes/variables";
@import "../themes/theme";
@import "../utils/mixins";

.attribute-list {
    position: relative;
    border-radius: 4px;
    .attribute-list-header {
        p {
            color: $theme;
            margin-bottom: 0;
            padding: 10px;
        }
        &.attribute-list-header-border {
            border: 1px solid $border-color;
            border-radius: 4px;
            margin-bottom: 10px;
        }
    }
    .attribute-list-body {
        max-height: 420px;
        overflow-y: auto;
        ul {
            margin-bottom: 10px;
            li {
                padding-right: 10px;
                &:last-of-type {
                    padding-right: 0;
                }
                p{
                    border: 1px solid $border-color;
                    background-color: $light-bg;
                    padding: 10px 10px 10px 20px;
                    border-radius: 4px;
                    position: relative;
                    margin: 0;
                    color: $text-color;
                    font: {
                        weight: 600;
                    }
                }
                .check-box {
                    border: 1px solid $border-color;
                    background-color: $light-bg;
                    padding: 10px 10px 10px 45px;
                    border-radius: 4px;
                    position: relative;
                    display: block;
                    line-height: normal;
                    .check-text {
                        line-height: normal;
                        font-weight: 600;
                        text-transform: none;
                    }
                    .check-mark {
                        left: 10px;
                    }
                }
                .attribute-list-collapse {
                    margin-right: 5px;
                    cursor: pointer;
                    color: $theme;
                }
            }
        }
        .react-tagsinput-input {
            min-width: auto;
        }
        .attribute-list-body-error {
            .form-control {
                border-color: $red;
            }
        }
    }
}

.attribute-sub-list {
    border: 1px dashed $border-color;
    padding: 10px;
}

.attribute-empty {
    padding: 60px 0;
    height: 320px;
    @include flex-center-align;
    background-color: $light-bg;
    text-align: center;
    border-radius: 4px;
    i {
        font-size: 26px;
        margin-bottom: 10px;
    }
    p {
        color: $content-color;
        margin: 0;
        font-size: 13px;
    }
}

.add-attribute-box {
    border: 1px dashed $border-color;
    border-radius: 4px;
    margin-bottom: 25px;
    padding: 15px;
    position: relative;
    h6 {
        @include position-top-left;
        top: -13px;
        font: {
            size: 12px;
            weight: 600;
        };
        color: $text-color;
        margin: 0 0 0 10px;
        background-color: $light-bg;
        padding: 2px 15px;
        border-radius: 4px;
        border: 1px dashed $border-color;
    }
    li {
        padding-right: 12px;
        &:last-of-type {
            padding-right: 0;
        }
        &:nth-child(4) {
            padding-right: 0;
        }
    }
}

// customize attribute
.icon-library {
    li {
        flex: 0 0 25%;
        max-width: 25%;
        padding: 8px 3px;
        position: relative;
        text-align: center;
        border: 1px solid $border-color;
        border-radius: 6px;
        color: $content-color;
        @include transition-3s;
        .icon-image {
            position: relative;
            i {
                font-size: 15px;
                margin-bottom: 10px;
            }
        }
        h6 {
            margin: 0;
            font-size: 10px;
        }
        &:hover {
            background-color: $light-bg;
            color: $theme;
            border-bottom-color: $theme;
            @include transition-3s;
        }
    }
}

.attribute-icon-list {
    li {
        flex: 0 0 20%;
        max-width: 20%;
        padding: 3px;
        .attribute-icon-box {
            box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            border: {
                style: dashed;
                width: 1px;
                color: $border-color;
                radius: 4px;
            }
            .attribute-icon {
                height: 100px;
                position: relative;
                i {
                    @include transform-center-align;
                    font-size: 32px;
                    color: $content-color;
                }
            }
            p {
                margin: 0;
                padding: 10px;
                color: $text-color;
                text-align: center;
                border-top: 1px solid $border-color;
                background-color: $light-bg;
                @include text-truncate
            }
        }
    }
}
// end customize attribute