/* ***********************************************************************
* 83incs CONFIDENTIAL
* ***********************************************************************
*
*  [2017] - [2022] 83incs Ltd.
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of 83incs Ltd, IoT83 Ltd, its suppliers (if any), its subsidiaries (if any) and
* Source Code Licenses (if any).  The intellectual and technical concepts contained
* herein are proprietary to 83incs Ltd, IoT83 Ltd, its subsidiaries (if any) and
* Source Code Licenses (if any) and may be covered by U.S. and Foreign Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from 83incs Ltd or IoT83 Ltd.
****************************************************************************
*/

@import "../themes/variables";
@import "../utils/mixins";

.pipeline-view {
	li {
		min-width: 250px;
		max-width: 250px;
		text-align: center;
		border: 2px dashed #e6e6e6;
		padding: 15px;
		border-radius: 4px;
		margin: 0px auto 40px auto;
		cursor: pointer;
		position: relative;
		&:last-of-type {
			margin-bottom: 15px;
			&::before {
				content: "";
				border-bottom: 0px;
			}
		}
		&::before {
			content: "";
			border-bottom: 2px dashed var(--theme);
			position: absolute;
			bottom: -23px;
			width: 41px;
			transform: rotate(90deg);
			left: 41%;
		}
		p {
			margin-bottom: 0px;
		}
		&.no-user-click {
			pointer-events: none;
		}
	}
	.btn { 
		min-width: 250px;
	}
}