/* ***********************************************************************
* 83incs CONFIDENTIAL
* ***********************************************************************
*
*  [2017] - [2022] 83incs Ltd.
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of 83incs Ltd, IoT83 Ltd, its suppliers (if any), its subsidiaries (if any) and
* Source Code Licenses (if any).  The intellectual and technical concepts contained
* herein are proprietary to 83incs Ltd, IoT83 Ltd, its subsidiaries (if any) and
* Source Code Licenses (if any) and may be covered by U.S. and Foreign Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from 83incs Ltd or IoT83 Ltd.
****************************************************************************
*/

@import "../themes/variables";
@import "../themes/theme";
@import "../utils/mixins";

.drop-box {
    height: calc(100vh - 350px);
    border: 1px dashed $border-color;
    background-color: $light-bg;
    position: relative;
    border-radius: 4px;
    overflow-y: auto;

    ul {
        margin-bottom: 50px;
        li {
            padding: 7px;
            position: relative;
            flex: 0 0 20%;
            max-width: 20%;
            .drop-item-box {
                border: 1px dashed $border-color;
                border-radius: 4px;
                padding: 12px 15px;
                background-color: $white;
                font-size: 12px;
                color: $text-color;
                @include text-truncate;
                @include transition-3s;
                &:hover {
                    color: $theme;
                    border-color: $text-color;
                    @include transition-3s;
                }
            }
            button {
                position: absolute;
                top: 3px;
                right: 3px;
                width: 20px;
                height: 20px;
            }
        }
    }

    .drop-box-overlay {
        height: 100%;
        width: 100%;
        @include flex-center-align;
        h6 {
            color: $content-color;
            margin: 5px 0 0;
        }
    }
}

.drag-list {
    height: 100%;
    overflow-y: auto;

    .search-wrapper {
        position: sticky;
        top: 0;
        padding: 0;
        margin-bottom: 10px;
    }

    .drag-list-item {
        border-radius: 4px;
        border: 1px dashed $border-color;
        padding: 10px;
        margin-bottom: 10px;
        color: $text-color;
        font-size: 13px;
        @include text-truncate;
        @include transition-3s;
        &.active {
            border-color: $theme;
            color: $theme;
        }
        &:hover {
            color: $theme;
            cursor: all-scroll;
            box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
            @include transition-3s;
        }
    }

    .drag-list-empty {
        @include flex-center-align;
        text-align: center;
        height: calc(100% - 51px);
        img {
            width: 90px;
            margin-bottom: 10px;
        }
        h6 {
            color: $darkTheme;
            font-weight: 600;
        }
        p {
            color: $content-color;
            margin-bottom: 0;
        }
    }
}

.tag-list {
    height: 100%;
    overflow-y: auto;

    li {
        margin-bottom: 10px;
        position: relative;
        .tag-item {
            padding: 10px 12px;
            margin: 0 0 0 12px;
            position: relative;
            border: {
                style: solid;
                width: 2px;
                radius: 4px;
                color: $border-color;
            }
            color: $text-color;
            font-size: 12px;
            @include text-truncate;
            @include transition-3s;
            &:hover {
                @include transition-3s;
                cursor: all-scroll;
                color: $black;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
            }
        }
        .tag-item-icon {
            position: absolute;
            top: 14px;
            left: 1px;
            font-size: 12px;
            color: $border-color-dark;
            transform: rotate(30deg);
        }
        .input-group {
            .tag-item {
                width: calc(100% - 72px);
            }
        }
    }

    .btn {
        padding-left: 6px;
        padding-right: 6px;
    }

    .tag-list-overlay {
        border: 1px dashed $border-color;
        border-radius: 4px;
        background-color: $light-bg;
        color: $text-color;
        font-size: 12px;
        padding: 10px 15px;
        margin-bottom: 10px;
    }
    .tag-list-empty {
        @include flex-center-align;
        text-align: center;
        height: 100%;
        img {
            width: 120px;
            margin-bottom: 10px;
        }
        h6 {
            color: $darkTheme;
            font-weight: 600;
        }
        p {
            color: $content-color;
            margin-bottom: 0;
        }
    }
}

.tag-drop-box {
    position: relative;
    height: calc(100vh - 244px);
    overflow-y: auto;

    .tag-list {
        padding-left: 30px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 20px;
            left: 0;
            width: 30px;
            background-color: $border-color;
            height: 2px;
        }
        &::after {
            content: '';
            position: absolute;
            top: 16px;
            left: 0;
            width: 9px;
            height: 9px;
            @include border-radius-50;
            background-color: $content-color;
        }
    }
    .tag-drop-box-content {
        position: relative;
        padding-right: 110px;
        margin-bottom: 10px;
    }
    .form-group {
        .react-tagsinput {
            width: calc(100% - 33px);
            min-height: 42px;
        }
        .input-group-prepend {
            margin-right: 1px;
        }
    }
    .button-group {
        position: absolute;
        top: 5px;
        right: 0;
    }
}

.diagnose-box {
    height: calc(100% - 105px);
    width: calc(100% - 45px);
}

.diagnose-tabs {
    @include position-top-right;
    top: 225px;
    right: -110px;
    z-index: 1;
    transform: rotate(90deg);
    li {
        background-color: $white;
    }
}

.device-list {
    li {
        flex: 0 0 20%;
        max-width: 20%;
        padding: 5px;
    }
    .device-list-box {
        padding: 10px 55px 10px 15px;
        position: relative;
        border-radius: 30px;
        color: $text-color;
        background-color: $light-bg;
        border: 1px dashed $border-color;
        @include transition-3s;
        p {
            margin-bottom: 0;
            @include text-truncate;
        }
        .button-group {
            @include transform-top-center-align;
            right: 5px;
            .btn-transparent{
                margin-right: 4px;
            }
        }
        &:hover {
            border-color: $theme;
            @include transition-3s;
            p {
                color: $theme;
            }
        }
    }
}

.device-control-list {
    li {
        padding: 5px;
        .device-control-list-box {
            border: 1px dashed $border-color;
            border-radius: 4px;
            text-align: center;
            position: relative;
            @include transition-3s;
            .device-control-list-image {
                width: 60px;
                height: 60px;
                @include border-radius-50;
                border: 1px solid $border-color;
                margin: 10px auto;
                padding: 3px;
                img {
                    @include image;
                    @include border-radius-50;
                }
            }
            p {
                color: $text-color;
                margin: 0;
                padding: 5px;
                background-color: $light-bg;
            }
            .button-group {
                @include position-top-right;
                top: -10px;
                opacity: 0;
                @include transition-3s;
                button {
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }
            &:hover {
                @include transition-3s;
                border-color: $theme;
                .button-group {
                    opacity: 1;
                    @include transition-3s;
                }
                p {
                    color: $darkTheme;
                }
            }
        }
    }
}

.device-details-box{
    @include position-top-left;
    top: 40px;
    left: 12px;
    width: 315px;
    z-index: 5;
    background: $white;
    transition: all 0.3s;
    border-radius: 10px;
    .card{
        border-radius: 10px;
        margin-bottom: 0;
    }
    &.collapsed{
        width: 1px;
        padding: 0;
        transition: all 0.3s;
    }
}

@media only screen and (max-width: 1440px) {
    .drop-box {
        li {
            flex: 0 0 25%;
            max-width: 25%;
        }
    }
    .device-list {
        li {
            flex: 0 0 25%;
            max-width: 25%;
        }
    }
}