/* ***********************************************************************
* 83incs CONFIDENTIAL
* ***********************************************************************
*
*  [2017] - [2022] 83incs Ltd.
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of 83incs Ltd, IoT83 Ltd, its suppliers (if any), its subsidiaries (if any) and
* Source Code Licenses (if any).  The intellectual and technical concepts contained
* herein are proprietary to 83incs Ltd, IoT83 Ltd, its subsidiaries (if any) and
* Source Code Licenses (if any) and may be covered by U.S. and Foreign Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from 83incs Ltd or IoT83 Ltd.
****************************************************************************
*/

@import "../themes/variables";
@import "../themes/theme";
@import "../utils/mixins";

.side-nav-app-wrapper {
    .side-nav-menu-header {
        padding: 18px 12px;
        position: relative;
        .side-nav-menu-logo {
            width: 40px;
            height: 40px;
            padding: 2px;
            border: 1px solid $border-color;
            border-radius: 4px;
            img {
                @include image;
                object-fit: fill;
            }
        }
        h5 {
            color: $white;
            font-weight: 600;
            @include transform-top-center-align;
            left: 60px;
        }
    }
}
.content-item-app {

}