/* ***********************************************************************
* 83incs CONFIDENTIAL
* ***********************************************************************
*
*  [2017] - [2022] 83incs Ltd.
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of 83incs Ltd, IoT83 Ltd, its suppliers (if any), its subsidiaries (if any) and
* Source Code Licenses (if any).  The intellectual and technical concepts contained
* herein are proprietary to 83incs Ltd, IoT83 Ltd, its subsidiaries (if any) and
* Source Code Licenses (if any) and may be covered by U.S. and Foreign Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from 83incs Ltd or IoT83 Ltd.
****************************************************************************
*/

@import "../themes/variables";
@import "../themes/theme";
@import "../utils/mixins";

.condition-box {
    border: 1px dashed $border-color;
    border-radius: 4px;
    padding: 40px 15px 0;
    position: relative;
    margin-top: 10px;
    background-color: $light-bg;

    .condition-select {
        position: absolute;
        top: -15px;
        left: 10px;
        .form-control {
            padding: 5px 15px;
            width: auto;
            display: inline-block;
            min-height: auto;
        }
        .btn-primary {
            padding: 3px 8px;
            margin-left: 10px;
            display: inline-block;
        }
    }

    .condition-box-list {
        padding: 30px 15px 15px;
        margin-bottom: 30px;
        border: 1px dashed $border-color;
        position: relative;
        border-radius: 5px;
        background-color: $white;

        .form-group-label {
            padding-right: 10px;
        }
        ul {
            padding-right: 30px;
            position: relative;
            margin-bottom: 10px;
            li {
                padding-right: 10px;
            }
            .button-group {
                @include transform-top-center-align ;
                right: 0;
            }
        }
        &:nth-last-child(2) {
            margin-bottom: 10px;
        }
    }
}

.action-tabs {
    margin-bottom: 20px;
    ul {
        position: relative;
        li {
            .nav-link {
                font-size: 11px;
                color: $text-color;
                border: 1px solid $border-color;
                padding: 10px 20px 10px 10px;
                min-width: 140px;
                position: relative;
                text-align: center;
                border-radius: 8px 8px 0 0;
                text-transform: uppercase;
                i {
                    margin-right: 5px;
                }
                &:hover {
                    cursor: pointer;
                    color: $theme;
                    text-decoration: underline;
                }
                .badge {
                    font-size: 9px;
                    padding: 2px 7px;
                    color: $text-color;
                    background-color: $white;
                    border: 1px solid $border-color;
                    margin: 0 0 0 5px;
                }
            }
            &.active .nav-link {
                background-color: $darkTheme;
                @include transition-3s;
                cursor: pointer;
                color: $white;
                border-radius: 8px 8px 0 0;
                &:hover {
                    cursor: default;
                    text-decoration: none;
                }
                &::before {
                    content: "";
                    width: 70%;
                    height: 4px;
                    border-radius: 4px;
                    background-color: $theme;
                    @include transform-left-center-align;
                    bottom: 0;
                }
            }
            &.disabled .nav-link {
                cursor: not-allowed;
                background-color: $border-color;
                border-color: $border-color-dark;
                border-radius: 8px 8px 0 0;
                &:hover {
                    cursor: not-allowed;
                    text-decoration: none;
                    color: $text-color;
                }
            }
        }

        .btn-link {
            @include transform-top-center-align;
            right: 0;
        }
    }
}

.action-tabs-table {
    max-height: 415px;
    overflow-y: auto;
}

#scrollableDiv {
    .infinite-scroll-component {
        margin-left: -10px;
        width: calc(100% + 20px);
        padding: 0 10px 15px;
    }
}

.alarm-config-wrapper {
    .condition-line {
        padding-bottom: 25px;
        ul {
            @include list-style-none;
            position: relative;
            margin: 0 120px 10px;
            @include flex-center-align;
            &::before {
                content: '';
                @include position-top-left;
                top: 5px;
                width: 100%;
                height: 1px;
                border-radius: 5px;
                background-color: $border-color;
            }
            li {
                font-size: 11px;
                position: relative;
                color: $content-color;
                padding: 12px 10px 0;
                flex: 0 0 11.1%;
                max-width: 11.1%;
                text-align: center;
                span {
                    width: 12px;
                    height: 12px;
                    @include border-radius-50;
                    @include transform-left-center-align;
                    top: 0;
                }
                &:first-of-type::before,
                &:last-of-type::after {
                    content: '';
                    width: 5px;
                    height: 5px;
                    @include border-radius-50;
                    background-color: $border-color-dark;
                    position: absolute;
                    top: 3px;
                }
                &:first-of-type::before {
                    left: 0;
                }
                &:last-of-type::after {
                    right: 0;
                }
            }
            strong {
                position: absolute;
                top: 0;
                font-size: 10px;
                color: $text-color;
                padding: 5px 10px;
                background-color: $light-bg;
                border-radius: 4px;
                border: 1px solid $border-color;
                &:first-of-type {
                    left: -120px;
                }
                &:last-of-type {
                    right: -120px;
                }
            }
        }
    }
    .condition-box {
        padding: 30px 10px 10px 10px;
        margin-bottom: 25px;
        .condition-select {
            .check-box {
                @include transform-top-center-align;
                left: 0;
            }
            .form-control:last-of-type {
                margin-left: 10px;
                width: 120px;
            }
        }
        .condition-box-list {
            padding: 10px;
            ul {
                padding-right: 0;
            }
        }
    }
}

// add actions
.action-info {
    @include card-box;
    box-shadow: none;
    border: 1px solid $border-color;
    padding: 20px;
    h5 {
        margin-bottom: 15px;
    }
    p {
        color: $text-color;
        margin-bottom: 8px;
        &:last-of-type {
            margin-bottom: 0;
        }
        strong {
            color: $black;
            font-weight: 700;
        }
    }
}

.action-add-box {
    padding: 15px 15px 10px;
    position: relative;
    border: 1px dashed $border-color;
    border-radius: 4px;
    background-color: $light-bg;
}

.action-tabs-box {
    .action-list {
        border: none;
        li {
            padding-right: 5px;
            .action-list-box {
                @include card-box;
                padding: 10px 10px 10px 60px;
                min-height: 80px;
                display: flex;
                align-items: center;
                cursor: pointer;
                @include transition-3s;
                &::before {
                    content: '';
                    @include transform-left-center-align;
                    bottom: 0;
                    width: 90%;
                    height: 4px;
                    background-color: transparent;
                    border-radius: 5px;
                }
                .action-tab-icon {
                    @include transform-top-center-align;
                    left: 15px;
                    width: 35px;
                    height: 35px;
                    @include border-radius-50;
                    border: 1px solid $border-color;
                    @include flex-center-align;
                    color: $content-color;
                    i {
                        font-size: 16px;
                    }
                }
                h6 {
                    margin: 0;
                    font-weight: 600;
                    color: $text-color;
                }
                .action-badge-group {
                    @include transform-top-center-align;
                    right: 15px;
                    p {
                        color: $content-color;
                        margin: 0 0 5px;
                        font-size: 11px;
                        text-align: right;
                        &:last-of-type {
                            margin-bottom: 0;
                        }
                        .badge {
                            min-width: 26px;
                        }
                    }
                }
            }
            &.active {
                .action-list-box {
                    color: $theme;
                    @include transition-3s;
                    &::before {
                        background-color: $theme;
                    }
                    .action-tab-icon {
                        background-color: $theme;
                        border-color: $darkTheme;
                        color: $white;
                    }
                }
            }
        }
    }
    .action-tab-message {
        height: calc(100vh - 205px);
    }
}
// and add actions