/* ***********************************************************************
* 83incs CONFIDENTIAL
* ***********************************************************************
*
*  [2017] - [2022] 83incs Ltd.
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of 83incs Ltd, IoT83 Ltd, its suppliers (if any), its subsidiaries (if any) and
* Source Code Licenses (if any).  The intellectual and technical concepts contained
* herein are proprietary to 83incs Ltd, IoT83 Ltd, its subsidiaries (if any) and
* Source Code Licenses (if any) and may be covered by U.S. and Foreign Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from 83incs Ltd or IoT83 Ltd.
****************************************************************************
*/

@import "../themes/variables";
@import "../utils/mixins";

.add-exp-button-group {
	width: 45%;
	margin: 25px auto;
	.btn {
		width: 100%;
		margin-bottom: 12px;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

ul.train-model-list {
	@include display-flex;
	@include list-style-none;
	text-align: center;
	li {
		flex: 0 0 25%;
		max-width: 25%;
		position: relative;
		&::before {
			content: '';
			border: 1px dashed $border-color-dark;
			position: absolute;
			top: 65px;
			right: -65px;
			width: 130px;
		}
		&:last-of-type::before {
			display: none;
		}
		.train-model-box {
			padding: 20px 0;
			.train-model-image {
				width: 100px;
				height: 100px;
				border: 2px solid $border-color;
				margin: 0 auto 15px;
				position: relative;
				background-color: $white;
				@include border-radius-50;
				img {
					@include image;
					padding: 25px;
				}
				i {
					@include position-bottom-right;
					bottom: 10px;
					font-size: 18px;
					color: $green;
				}
			}
			.badge-pill {
				line-height: normal;
				font-weight: 600;
				padding: 3px 10px;
			}
			.train-model-loader {
				height: 20px;
				width: 60%;
				margin: 0 auto;
				img {
					@include image;
					border-radius: 15px;
				}
			}
		}
		&.active {
			.train-model-box {
				background-color: $light-bg;
				border-radius: 10px;
				.train-model-image {
					border-color: $border-color-dark;
				}
			}
		}
	}
}

.ml-item-box {
	padding: 15px;
	border: 1px solid #b8daff;
	background: $light-bg;
	position: relative;
	transition: all .4s ease-in-out;
	cursor: pointer;
	border-radius: 5px;
	margin-bottom: 20px;
	.btn-group {
		@include transform-top-center-align;
		right: 20px;
	}
	h6 {
		color: $darkTheme;
		font: {
			size: 13px;
			weight: 600;
		}
	}
	&::before {
		@include transform-top-center-align;
		content: "\2212";
		right: 12px;
		font-size: 20px;
		transition: all .4s ease-in-out;
	}
	&.active .btn-link {
		color: $darkTheme;
		text-decoration: underline;
	}
}

.form-section {
	padding: 10px;
	height: calc(100% - 40px);
	.form-section-header {
		padding: 10px;
		background: $light-bg;
		border-radius: 6px 6px 0 0;
		border: 1px solid #b8daff;
		p {
			color: $black;
			font: {
				size: 13px;
				weight: 600;
			}
		}
		.btn-transparent-blue {
			width: 20px;
			height: 20px;
		}
	}
	.form-section-body {
		border: 1px solid $border-color;
		padding: 10px;
		color: $content-color;
		height: 250px;
		overflow: auto;
		border-radius: 0 0 6px 6px;
		background-color: $white;
		position: relative;
		.level-one {
			font-size: 13px;
			font-weight: 400;
			cursor: pointer;
			i {
				transform: rotate(90deg);
				transition: all .4s ease;
				padding: 5px 10px;
			}
			img {
				width: 30px;
				height: 30px;
				margin-right: 10px;
			}
		}
		p.collapsed i {
			transform: rotate(0deg);
			transition: all .4s ease;
		}
		h5 {
			@include transform-center-align;
		}
	}
}

.drop-zone-box {
	height: 100%;
	width: 100%;
	padding: 10px;
	.drop-zone {
		height: 100%;
		border-radius: 10px;
		border: 1px dashed $light-gray;
		background-color: $white;
		cursor: pointer;
		transition: .2s ease-in-out;
		position: relative;
		h5 {
			@include transform-center-align;
		}
		h6 {
			text-align: center;
			padding: 10px;
			font-size: 12px;
			margin: 0;
			font-weight: 600;
			color: $black;
			background-color: $light-bg;
		}
	}
	.drop-zone-icon {
		width:30px;
		height: 30px;
		text-align: center;
		margin: 5px auto;
		img {
			@include image;
		}
	}
}

.feature-list {
	li {
		padding: 10px 10px 10px 40px;
		position: relative;
		margin-bottom: 5px;
		transition: all .3s ease-in-out;
		img {
			@include transform-top-center-align;
			left:15px;
			width: 20px;
			height: 20px;
		}
	}
}

.column-box {
	border: 1px dashed $border-color;
	padding: 30px 10px 10px;
	margin-bottom: 10px;
	position: relative;
	border-radius: 5px;
	.btn-transparent-red {
		position: absolute;
		right: -6px;
		top: -6px;
	}
}

.bottom-button {
	position: absolute;
	bottom: 5px;
	right: 10px;
}

.add-feature-list {
	li {
		padding: 0 0px 0 10px;
		position: relative;
		margin-bottom: 10px;
		p {
			position: relative;
			margin: 0;
			padding: 10px 50px 10px 40px;
			background-color: $white;
			border-radius: 5px;
			cursor: pointer;
			width: 100%;
			img {
				@include transform-top-center-align;
				left: 10px;
				width: 20px;
				height: 20px;
			}
			.btn-transparent-blue {
				@include transform-top-center-align;
				right: 5px;
			}
		}
		.btn-transparent-red {
			position: absolute !important;
			top: 50% !important;
			transform: translateY(-50%);
			right: 10px !important;
		}
	}
}

.selected-item-box {
	height: 100%;
	padding: 10px;
	position: relative;
	.selected-item {
		height: 100%;
		border-radius: 10px;
		border:1px solid $border-color;
		background-color: $white;
		position: relative;
		.fa-times-circle {
			position: absolute;
			top: 10px;
			right: 10px;
		}
		img {
			width: 70px;
			height: 70px;
		}
		.selected-info-box {
			@include transform-center-align;
			flex-direction: column;
			img {
				margin: 0 auto;
			}
			.selected-info-name {
				width: 200px;
				padding-left: 40px;
			}
			.selected-info-image {
				img {
					width: 70px;
					height: 30px;
				}
			}
		}
	}
}


/*============== Create New CSS================*/
.content-body {
	.max-width-65 {
		max-width: 65%;
	}
	.card-header-btn-link {
		.btn-link {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
		}
	}
	.form-group-headings {
		label {
			color: var(--theme);
			font-size: 13px;
			font-weight: 600;
			small {
				color: $darkTheme;
			}
		}
		h6 {
			color: var(--theme);
			font-size: 13px;
			font-weight: 600;
		}
	}
	.custom-condition-column {
		.btn-transparent-red {
			top: -7px;
			right: -7px;
			position: absolute;
		}
	}
	.selection-outerBox {
		max-height: 120px;
		overflow-y: auto;
		overflow-x: hidden;
		padding: 10px 10px 0px 0px;
		margin-bottom: 10px;
		.selection-text {
			background: $white;
			padding: 10px;
			border-radius: 4px;
			font-size: 12px;
			position: relative;
			margin-bottom: 10px;
			cursor: pointer;
			.btn-transparent-blue {
				position: absolute;
				right: 21px;
				top: 7px;
				i {
					margin-right: 0px;
				}
			}
			.btn-transparent-red {
				top: -7px;
				right: -7px;
				position: absolute;
			}
			p {
				margin-bottom: 0px;
				i {
					margin-right: 7px;
				}
			}
		}
	}
	.collapse-box {
		p {
			color: var(--darkTheme);
			font-size: 13px;
			margin-left: 10px;
			margin-bottom: 7px;
			cursor: pointer;
			&:before {
				content: "\f105";
				font-family: "Font Awesome 5 Pro";
				font-weight: 900;
				position: relative;
				float: left;
				width: 6px;
				left: -6px;
			}
		}
		p[aria-expanded="true"]:before {
			content: "\f107";
			font-family: "Font Awesome 5 Pro";
			font-weight: 900;
		}
		li {
			padding-bottom: 5px;
			cursor: pointer;
			span {
				font-size: 13px;
			}
			i {
				font-size: 18px;
				opacity: 0.7;
			}
		}
		.tooltipText {
			p {
				color: $white;
				margin-bottom: 0px;
				margin-left: 0px;
				font-size: 12px;
			}
		}
	}
	.features-list-form-wrapper {
		.contentForm {	
			input[type="radio"] {
				position: relative;
				top: 3px;
				margin-left: 5px;
			}
			.bottom-button {
				position: absolute;
				bottom: 15px;
				right: 15px;
			}
		}
	}
	.selection-save-button .btn  {
		position: absolute;
		bottom: 8px;
		right: 7px;
	}
	.card-body-height {
		height: 290px !important;
	}
	.card-overflow-scroll {
		overflow-x: hidden;
		overflow-y: auto;
	}
	.full-card-height {
		height: 366px;
		position: relative;
		.drop-zone-icon img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: center;
		}
		.drop-zone {
			h5 {
				font-size: 12px;
				margin: 0;
				color: #808080;
				word-break: break-word;
			}
		}
		.close {
			position: absolute;
			right: 12px;
			top: 12px;
			font-size: 24px;
		}
	}
	.draggable-list {
		li {
			color: var(--darTheme);
			font-size: 13px;
			padding: 5px 10px 5px 40px;
		}
	}
	.form-text {
		font-weight: 700;	
		color: $theme;
	}
	.action-tabs {
		&.position-sticky {
			position: -webkit-sticky !important;
			position: sticky !important;
			top: 0;
			z-index: 1020;
			li {
				background-color: $white;
			}
		}
	}
	.collapse-box {
		.accordion-link img {
			width: 23px;
			height: 23px;
			margin-right: 3px;
		}
	}
	.full-img-wrapper {
		.selected-item {
			border-radius: 5px !important;
			height: 366px;
			.fa-times-circle {
				cursor: pointer;
			}
		}
	}
	.pipeline-view {
		li {
			min-width: 250px;
			max-width: 250px;
			text-align: center;
			border: 2px dashed #e6e6e6;
			padding: 15px;
			border-radius: 4px;
			margin: 0px auto 70px auto;
			cursor: pointer;
			position: relative;
			&:last-of-type {
				margin-bottom: 15px;
				&::before {
					content: "";
					border-bottom: 0px;
				}
			}
			&::before {
				content: "";
				border-bottom: 2px dashed var(--theme);
				position: absolute;
				bottom: -38px;
				width: 73px;
				transform: rotate(90deg);
				left: 32%;
			}
			p {
				margin-bottom: 0px;
			}
			&.no-user-click {
				pointer-events: none;
			}
		}
		.btn { 
			min-width: 250px;
		}
	}
	.data-insight-btns-group {
		h5 {
			font-size: 12px;
			margin-bottom: 7px;
		}
		.btn-link {
			padding: 0px;
		}
	}
}


/*============== End Create New CSS================*/