/* ***********************************************************************
* 83incs CONFIDENTIAL
* ***********************************************************************
*
*  [2017] - [2022] 83incs Ltd.
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of 83incs Ltd, IoT83 Ltd, its suppliers (if any), its subsidiaries (if any) and
* Source Code Licenses (if any).  The intellectual and technical concepts contained
* herein are proprietary to 83incs Ltd, IoT83 Ltd, its subsidiaries (if any) and
* Source Code Licenses (if any) and may be covered by U.S. and Foreign Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from 83incs Ltd or IoT83 Ltd.
****************************************************************************
*/

@import "../themes/variables";
@import "../themes/theme";
@import "../utils/mixins";

// maker profile and plan
#makerProfile {
    .profile-box {
        @include card-box;
        padding: 10px;

        .profile-info {
            @include flex-center-align;
            position: relative;
            .profile-image {
                width: 90px;
                height: 90px;
                margin-right: 15px;
                border: 1px solid $border-color;
                @include border-radius-50;
                img {
                    @include border-radius-50;
                    @include image;
                }
            }
            h6 {
                color: $darkTheme;
                font-weight: 600;
            }
            p {
                color: $content-color;
                margin-bottom: 5px;
                i {
                    color: $theme;
                }
            }
            .btn-transparent {
                position: absolute;
                right: 8px;
                top: 5px;
            }
        }

        .profile-tabs {
            ul {
                padding: 20px;
                border: none;
                justify-content: center;
                li {
                    font: {
                        size: 12px;
                        weight:600;
                    };
                    position: relative;
                    cursor: pointer;
                    margin-right: 10px;
                    color: $text-color;
                    border-radius: 5px;
                    border: 2px solid $border-color;
                    padding: 7px 65px 7px 15px;
                    img {
                        @include transform-top-center-align;
                        right: 15px;
                        width: 40px;
                    }
                    &.active {
                        background-color: $light-bg;
                        &::before {
                            content: "\25BE";
                            position: absolute;
                            bottom: -40px;
                            font-size: 42px;
                            color: $theme;
                            @include transform-left-center-align;;
                        }
                    }
                }
            }
        }
    }

    .current-plan {
        @include card-box;
        padding: 15px 15px 50px;
        height: calc(100% - 15px);
        position: relative;
        text-align: center;
        @include flex-center-align;

        h5 {
            font-weight: 600;
            color: $darkTheme;
        }
        h3 {
            color: $theme;
            small {
                font-size: 13px;
                margin-left: 3px;
            }
        }
        p {
            font-size: 11px;
            color: $content-color;
            margin: 0;
        }
        .current-plan-icon {
            position: absolute;
            width: 50px;
            top: 0;
            right: 0;
            img{
                @include image;
            }
        }
        .btn {
            @include transform-left-center-align;
            bottom: 10px;
            width: 85%;
            border-radius: 20px;
        }
    }

    .plan-outer-wrapper {
        height: calc(100vh - 162px);
        overflow-y: auto;
        padding: 5px;
        ul.plan-view-list {
            li {
                padding: 0 5px;
                &:first-of-type {
                    padding-left: 0;
                }
                &:last-of-type {
                    padding-right: 0;
                }
                .plan-view {
                    @include card-box;
                    padding: 15px 15px 20px 15px;
                    @include transition-3s;

                    .plan-view-header {
                        position: relative;
                        padding: 0 0 10px 50px;
                        border-bottom: 1px solid $border-color;
                        h5 {
                            font-weight: 600;
                            color: $black;
                            margin: 0;
                            small {
                                font-size: 10px;
                                color: $content-color;
                            }
                        }
                        .plan-view-icon {
                            @include position-top-left;
                            width: 50px;
                            img {
                                @include image;
                            }
                        }
                    }
                    .plan-view-body {
                        padding: 20px 15px;
                        p {
                            color: $content-color;
                            margin-bottom: 10px;
                            &:last-of-type {
                                margin-bottom: 0;
                            }
                            i {
                                margin-right: 10px;
                                color: $green;
                            }
                            strong {
                                margin-right: 5px;
                                color: $text-color;
                                font-weight: 700;
                            }
                        }
                        .plan-view-body-info {
                            margin-left: 5px;
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                    .btn {
                        @include transform-left-center-align;
                        bottom: -15px;
                        text-align: center;
                        width: 85%;
                        border-radius: 20px;
                        opacity: 0.85;
                        &.btn-primary {
                            background-color: #007bff;
                            border-color: #0063cc;
                            &:hover, &:focus, &.active {
                                background-color: #0063cc;
                                border-color: #004a99;
                            }
                        }
                    }
                    &:hover {
                        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
                        @include transition-3s;
                    }
                    .plan-view-overlay {
                        display: none;
                        border-radius: 5px;
                        @include position-all-side;
                        background-color: rgba(255, 255, 255, 0.75);
                    }
                }
            }
        }
    }

    .profile-loader {
        height: 50vh;
        @include flex-center-align;
        i {
            color: $theme;
            font: {
                size: 26px;
                weight:600;
            };
        }
    }
}
// end maker profile and plan

// payment list
ul.payment-list {
    li {
        @include card-box;
        @include transition-3s;
        padding: 12px 120px 12px 80px;

        .payment-list-icon {
            @include position-top-bottom;
            width: 60px;
            left: 0;
            background-color: $light-bg;
            padding: 5px;
            margin: 5px;
            img {
                @include image;
            }
        }
        p {
            font-size: 11px;
            color: $content-color;
            margin: 0;
        }
        .payment-list-amount {
            @include transform-top-center-align;
            right: 15px;
            @include flex-center-align;
            h3 {
                color: $green;
                font-weight: 600;
                margin: 0 15px 0 0;
            }
        }

        &:hover {
            box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.15);
            @include transition-3s;
        }
    }
}
// end payment list

// flex profile and plan
#flexProfile, #makerProfileTrial {
    .profile-image-box {
        text-align: center;
        padding: 20px 15px;
        height: 110px;
        position: relative;
        .profile-image-content {
            z-index: 1;
            @include transform-left-center-align;
            width: 100%;
            h6 {
                color: $theme;
                font-style: italic;
                font-weight: 600;
            }
            h4 {
                color: $darkTheme;
                font-weight: 600;
                @include text-truncate;
            }
            .btn-transparent {
                @include position-top-right;
                margin: -10px 10px 0 0;
                z-index: 1;
            }
        }
        .profile-image-bg {
            border-radius: 5px 5px 0 0;
            @include position-all-side;
            opacity: 0.4;
            overflow: hidden;
            img {
                width: 100%;
            }
        }
        .profile-image {
            width: 74px;
            height: 74px;
            @include transform-left-center-align;
            bottom: -37px;
            border: 1px solid $border-color;
            @include border-radius-50;
            img {
                @include border-radius-50;
                @include image;
                padding: 3px;
            }
            .profile-image-overlay {
                @include position-all-side;
                background-color: rgba(0, 0, 0, 0.5);
                @include border-radius-50;
                opacity: 0;
                @include transition-3s;
                .btn {
                    @include transform-center-align;
                }
            }
            &:hover .profile-image-overlay {
                opacity: 1;
                @include transition-3s;
            }
        }
        &::before, &:after {
            content: '';
            height: 4px;
            width: 35%;
            background-color: $theme;
            border-radius: 5px;
            @include position-bottom-left;
            bottom: -2px;
            z-index: 1;
        }
        &::before {
            left: 5px;
        }
        &:after {
            left: initial;
            right: 5px;
        }
    }

    .profile-body {
        padding: 45px 20px 10px;
        p {
            color: $content-color;
            margin-bottom: 10px;
            i {
                color: $theme;
                margin-right: 10px;
            }
        }
        .list-phone-input {
            .react-tel-input{
                display: inline-block;
                width: auto;
                .form-control{
                    color: $content-color;
                    font-size: 12px;
                }
            }
        }
    }

    .current-plan-wrapper {
        @include card-box;
        padding: 15px;
        .current-plan-header {
            border-bottom: 1px solid $border-color;
            position: relative;
            h6 {
                color: $darkTheme;
                font-weight: 600;
                margin-top: 0;
            }
            h5 {
                color: $theme;
                font-weight: 600;
                @include position-top-right;
                top: -5px;
            }
        }
        .current-plan-body {
            padding: 15px 0;
            height: calc(100vh - 429px);
            overflow-y: auto;
            .table {
                thead th, tbody td {
                    padding: 7px;
                    font-size: 11px;
                }
            }
        }
    }

    .addon-list-wrapper {
        height: calc(100vh - 164px);
        overflow-y: auto;
        .addon-list-box.addon-list-box-margin {
            &:last-of-type {
                margin-bottom: 150px;
            }
        }
        .addon-list-header {
            border-bottom: 1px solid $border-color;
            position: relative;
            margin-bottom: 15px;
            padding: 7px 0 12px;
            h6 {
                font-size: 12px;
                color: $theme;
                font-weight: 600;
                margin: 0;
            }
        }
    }

    .addon-list {
        li {
            padding: 0 5px;
            .addon-box {
                @include card-box;
                margin-bottom: 10px;
                padding: 15px;
                border-radius: 8px;
                position: relative;
                height: calc(100% - 10px);
                border: 1px solid transparent;
                &.active {
                    background-color: $light-bg;
                    border-color: $theme;
                    box-shadow: none;
                    .addon-box-header .addon-image {
                        background-color: $white;
                    }
                }
                .addon-box-overlay {
                    @include position-all-side;
                    background-color: rgba(255, 255, 255, 0.6);
                    border-radius: 5px;
                    z-index: 3;
                    a {
                        @include position-bottom-left;
                        width: 30%;
                        margin: 10px;
                        @include transition-3s;
                        img {
                            @include image;
                        }
                        &:hover {
                            transform: translateY(-2px);
                            @include transition-3s;
                        }
                    }
                }
                .addon-box-header {
                    position: relative;
                    padding-left: 50px;
                    .addon-image {
                        width: 36px;
                        height: 36px;
                        border: 1px solid $border-color;
                        border-radius: 4px;
                        @include position-top-left;
                        img {
                            @include image;
                            padding: 2px;
                        }
                         i {
                             @include transform-center-align;
                             font-size: 18px;
                         }
                    }
                    .addon-purchase-image {
                        position: absolute;
                        top: -25px;
                        right: -15px;
                        width: 100px;
                        img {
                            width: 100%;
                        }
                        p {
                            margin: 0;
                            @include transform-left-center-align;
                            top: 2px;
                            color: $white;
                            font-size: 10px;
                            font-weight: 700;
                            text-align: center;
                            text-transform: uppercase;
                        }
                    }
                    .addon-badge {
                        @include position-top-right;
                        top: -5px;
                        right: -15px;
                        padding: 3px 7px;
                        font-weight: 600;
                        font-size: 10px;
                        border-radius: 10px 0 0 10px;
                        line-height: normal;
                        letter-spacing: 0.01rem;
                    }
                }
                .addon-body {
                    padding: 25px 0;
                    min-height: 45px;
                    .badge {
                        font-size: 9px;
                        position: relative;
                        border: 1px solid $border-color;
                        padding: 7px 15px 7px 40px;
                        font-weight: 400;
                        background-color: $theme;
                        border-radius: 20px;
                        margin: 0 5px 5px 0;
                        strong {
                            @include position-top-bottom;
                            left: 0;
                            border-right: 1px solid $border-color-dark;
                            font-weight: 600;
                            color: $white;
                            background-color: $darkTheme;
                            width: 35px;
                            border-radius: 20px 0 0 20px;
                            @include flex-center-align;
                            text-align: center;
                        }
                    }
                }
                .addon-footer {
                    position: relative;
                    .form-group {
                        width: 30%;
                        .form-control {
                            padding: 2px 10px;
                            text-align: center;
                            border-width: 2px 0 2px 0;
                        }
                        .btn-light {
                            padding: 2px 8px;
                            font-size: 12px;
                        }
                        .input-group-prepend {
                            .btn {
                                border-radius: 15px 0 0 15px !important;
                            }
                        }
                        .input-group-append {
                            .btn {
                                border-radius: 0 15px 15px 0 !important;
                            }
                        }
                    }
                    h5 {
                        @include position-top-right;
                        text-align: right;
                        color: $theme;
                        font-weight: 600;
                        font-size: 15px;
                    }
                }
            }
        }
    }

    .addon-price-box {
        @include position-bottom-left;
        left: 5px;
        right: 5px;
        background-color: $darkTheme;
        border-radius: 6px;
        padding: 15px 20px;
        z-index: 3;
        animation-duration: 0.4s;
        p {
            color: $border-color-dark;
            margin-bottom: 5px;
            font-size: 11px;
        }
        h6 {
            display: inline-block;
            font-size: 12px;
            padding-right: 20px;
            font-weight: 400;
            color: $border-color;
            position: relative;
            strong {
                margin-right: 5px;
                font-weight: 700;
                color: $white;
            }
            &::after {
                content: '|';
                @include position-top-right;
                right: 5px;
                font-size: 12px;
            }
            &:last-of-type::after {
                display: none;
            }
        }
        .btn-light {
            position: absolute;
            right: 5px;
            top: -15px;
            padding: 0;
            width: 28px;
            height: 28px;
            @include border-radius-50;
        }
        .addon-price-detail {
            position: relative;
            border-top: 1px solid $content-color;
            padding-top: 10px;
            margin-top: 10px;
            h5 {
                font-size: 11px;
                color: $border-color;
                &:last-of-type {
                    margin-bottom: 0;
                }
                span {
                    min-width: 250px;
                    display: inline-block;
                }
                strong {
                    font-size: 12px;
                    font-weight: 700;
                    margin-left: 5px;
                    color: $theme;
                }
            }
            .btn-primary {
                @include position-bottom-right;
                padding: 5px 15px;
                border-radius: 15px;
                font-size: 12px;
            }
        }
    }

    .summary-wrapper {
        height: calc(100vh - 164px);
        overflow-y: auto;
        padding: 0 3px;
        .summary-header {
            border-bottom: 1px solid $border-color;
            position: relative;
            margin-bottom: 10px;
            padding: 7px 0 10px;
            h6 {
                font-size: 12px;
                color: $theme;
                font-weight: 600;
                margin: 0;
            }
            .btn {
                @include position-top-right;
                border-radius: 20px;
                padding: 5px 10px;
                font-size: 12px;
            }
        }

        .summary-box {
            @include card-box;
            padding: 15px;
            strong {
                @include position-top-right;
                color: $darkTheme;
                font-weight: 700;
                font-size: 15px;
            }
            h6 {
                font-size: 12px;
                position: relative;
                margin-bottom: 5px;
                color: $content-color;
                padding: 0 210px 0 165px;
                line-height: 22px;
                &:last-of-type {
                    margin-bottom: 0;
                }
                label {
                    @include transform-top-center-align;
                    left: 0;
                    color: $text-color;
                    font-weight: 400;
                    margin: 0;
                    min-width: 150px;
                    i {
                        float: right;
                        margin-top: 4px;
                        color: $content-color;
                    }
                }
                .badge {
                    font-weight: 600;
                    margin: 0 5px 3px 0;
                    padding: 5px 40px 5px 10px;
                    border-radius: 12px;
                    position: relative;
                    b {
                        @include position-top-bottom;
                        right: 0;
                        display: block;
                        border: 1px solid $green;
                        width: 30px;
                        @include flex-center-align;
                        background-color: $white;
                        color: $green;
                        border-radius: 0 12px 12px 0;
                    }
                }
            }
        }

        .addon-list {
            li {
                padding: 0;
                &:nth-child(odd) {
                    padding-right: 5px;
                }
                &:nth-child(even) {
                    padding-left: 5px;
                }
            }
            .addon-body {
                padding-bottom: 0 !important;
                h6 {
                    display: inline-block;
                    padding-right: 25px;
                    font-size: 11px;
                    color: $content-color;
                    position: relative;
                    &::after {
                        content: '|';
                        @include position-top-right;
                        right: 10px;
                        font-size: 11px;
                    }
                    &:last-of-type::after {
                        display: none;
                    }
                }
            }
        }

        .addon-list-empty {
            height:  calc(100vh - 572px);
            text-align: center;
            @include flex-center-align;
            img {
                width: 42px;
                margin: 0 auto 10px;
            }
        }
    }

    .profile-analysis {
        height: calc(100vh - 164px);
        overflow-y: auto;
        padding: 3px 0;
        align-content: flex-start;
        li {
            padding: 0 5px;
            .card {
                margin-bottom: 10px;
                .card-body {
                    position: relative;
                    .card-icon {
                        width: 50px;
                        height: 50px;
                        border: 1px solid $border-color;
                        @include border-radius-50;
                        position: absolute;
                        top: 15px;
                        right: 15px;
                        img{
                            @include image;
                            padding: 3px;
                        }
                    }
                    h5 {
                        color: $text-color;
                        font-weight: 600;
                        margin: 0 0 10px;
                        small {
                            color: $content-color;
                            font-size: 14px;
                        }
                    }
                    p {
                        font-weight: 400;
                        margin: 0;
                        color: $text-color;
                    }
                }
                .card-footer {
                    .profile-progress {
                        padding: 5px 50px 5px 0;
                        position: relative;
                        .progress-count {
                            @include transform-top-center-align;
                            right: 0;
                            @include flex-center-align;
                            p {
                                font-weight: 600;
                                color: $text-color;
                                line-height: normal;
                                margin: 0;
                            }
                            .btn-link {
                                font-size: 11px;
                                padding: 0;
                            }
                        }
                        .progress {
                            height: 6px;
                        }
                    }
                }
            }
        }
    }
}
// flex profile and plan

// maker profile trial
#makerProfileTrial {
    .package-attribute-wrapper {
        height: calc(100vh - 110px);
        overflow-y: auto;
    }
    .package-attribute-header {
        border-bottom: 1px solid $border-color;
        margin-bottom: 10px;
        padding: 10px;
        color: $theme;
        font-weight: 600;
        font-size: 13px;
    }
    .package-attribute-list {
        li {
            padding: 5px;
            .package-attribute-box {
                @include card-box;
                padding: 15px 10px;
                text-align: center;
                height: 100%;
                margin: 0;

                span {
                    @include position-top-right;
                    font-size: 16px;
                    margin: 10px;
                }

                .package-attribute-count {
                    width: 56px;
                    height: 56px;
                    @include border-radius-50;
                    background-color: $theme;
                    border: 4px solid $light-bg;
                    color: $white;
                    font-size: 18px;
                    line-height: 48px;
                    margin: 0 auto 15px;
                    position: relative;
                    small {
                        @include transform-left-center-align;
                        bottom: -13px;
                        font-size: 9px;
                    }
                }
            }
        }
    }
    .current-plan-wrapper {
        .current-plan-body {
            height: calc(100vh - 490px);
        }
    }
}
// maker profile trial