/* ***********************************************************************
* 83incs CONFIDENTIAL
* ***********************************************************************
*
*  [2017] - [2022] 83incs Ltd.
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of 83incs Ltd, IoT83 Ltd, its suppliers (if any), its subsidiaries (if any) and
* Source Code Licenses (if any).  The intellectual and technical concepts contained
* herein are proprietary to 83incs Ltd, IoT83 Ltd, its subsidiaries (if any) and
* Source Code Licenses (if any) and may be covered by U.S. and Foreign Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from 83incs Ltd or IoT83 Ltd.
****************************************************************************
*/

@import "../themes/variables";
@import "../themes/theme";
@import "../utils/mixins";

// add package
.custom-attribute-list {
    li {
        flex: 0 0 25%;
        max-width: 25%;
        .form-group {
            border:  {
                style: dashed;
                color: $border-color;
                width: 1px;
                radius: 5px;
            };
            padding: 12px 70px 12px 12px;
            margin: 0 7px 7px 0;
            .form-control {
                @include transform-top-center-align;
                right: 10px;
                width: 70px;
                padding: 5px 12px;
            }
        }
        &:nth-child(3n + 3), &:last-of-type {
            .form-group {
                margin-right: 0;
            }
        }
    }
}
.custom-menu-list {
    li {
        flex: 0 0 25%;
        max-width: 25%;
        border: {
            style: dashed;
            width: 1px 0 0 1px;
            color: $border-color;
            radius: 3px;
        }
        &:nth-child(3n + 3), &:last-of-type {
            border-right: 1px dashed $border-color;
        }
        &:nth-last-child(-n + 3) {
            border-bottom: 1px dashed $border-color;
        }
        .custom-menu-list-item {
            height: 100%;
            position: relative;
            padding: 12px 10px 12px 40px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            background-color: $white;
            @include transition-3s;
            button {
                @include position-top-bottom;
                left: 0;
                padding-left: 10px;
                padding-right: 10px;
                i {
                    font-size: 16px;
                }
            }
            h6 {
                flex: 0 0 100%;
                max-width: 100%;
                color: $darkTheme;
                margin: 0;
                font: {
                    size: 13px;
                    weight: 600 ;
                }
                @include text-truncate;
            }
            p {
                flex: 0 0 100%;
                max-width: 100%;
                margin: 0;
                color: $content-color;
                font-size: 11px;
            }
            &:hover {
                cursor: pointer;
                background-color: $light-bg;
                @include transition-3s;
            }
            &.active {
                background-color: $light-bg;
                @include transition-3s;
            }
        }
    }
}
// end add package

@media screen and (max-width: 1440px){
    .custom-attribute-list, .custom-menu-list {
        li {
             flex: 0 0 33.3%;
             max-width: 33.3%;
        }
    }
}
@media screen and (max-width: 1280px){
    .custom-attribute-list, .custom-menu-list {
        li {
             flex: 0 0 50%;
             max-width: 50%;
        }
    }
}

      
      