/* ***********************************************************************
* 83incs CONFIDENTIAL
* ***********************************************************************
*
*  [2017] - [2022] 83incs Ltd.
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of 83incs Ltd, IoT83 Ltd, its suppliers (if any), its subsidiaries (if any) and
* Source Code Licenses (if any).  The intellectual and technical concepts contained
* herein are proprietary to 83incs Ltd, IoT83 Ltd, its subsidiaries (if any) and
* Source Code Licenses (if any) and may be covered by U.S. and Foreign Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from 83incs Ltd or IoT83 Ltd.
****************************************************************************
*/

@import "../themes/theme";
@import "../themes/variables";
@import "../utils/mixins";

.widget-box-wrapper {
	position: relative;
	.widget-git-error {
		@include position-top-left;
		top: -13px;
		color: $red;
		font-size: 10px;
		line-height: normal;
	}

	.widget-code-editor {
		position: relative;
		border-radius: 5px;
		background-color: #263238;
		margin-right: 2px;
		height: calc(100vh - 159px);

		.widget-code-editor-error {
			@include position-left-right;
			bottom: 0;
			border: 1px solid #e3301c;
			border-radius: 4px;
			background-color: #e95949;
			color: $white;
			font-size: 10px;
			padding: 7px;
		}
		.widget-code-editor-header {
			font-size: 12px;
			color: $border-color-dark;
			padding: 5px 10px;
			position: relative;
			border-bottom: 1px solid $light-bg;
			.btn-link {
				@include transform-top-center-align;
				right: 25px;
				font-size: 12px;
			}
		}
		.widget-code-editor-body {
			height: calc(100% - 29px);
			.btn-link {
				@include position-top-right;
				padding: 5px 10px;
				color: $border-color;
				z-index: 1;
			}
			.react-codemirror2 {
				height: 100%;
			}
			.CodeMirror {
				height: 100%;
				font-size: 12px;
				border-radius: 0 0 5px 5px;
			}
			.CodeMirror-scroll {
				margin: 0;
				padding: 0;
			}
			iframe {
				width: 100%;
				height: 100%;
				border: 1px solid $border-color;
				border-radius: 0 0 5px 5px;
				background-color: $white;
			}
			.json-input-box {
				border: 0;
				border-radius: 0;
				[name=outer-box] {
					height: 100% !important;
					border-radius: 0;
				}
				[name=container] {
					border-radius: 0;
				}
				[name=body] {
					background-color: transparent !important;
					span {
						font-size: 12px !important;
						color: $border-color !important;
					}
					[name=labels] {
						border-right: 0 !important;
						div {
							color: #546E7A !important;
						}
					}
				}
			}
		}
	}

	.modal-full-editor {
		.widget-code-editor {
			height: calc(100% - 50px);
			.widget-code-editor-body {
				height: 100%;
			}
		}
	}

	.widget-cdn-list {
		height: 300px;
		overflow-y: auto;
		.alert {
			font-size: 12px;
			padding: 10px 12px;
			margin: 0;
		}
	}

	.widget-cdn-list-empty, .widget-image-list-empty {
		height: 300px;
		border: 1px dashed $border-color;
		border-radius: 4px;
		background-color: $light-bg;
		padding: 10px;
		@include flex-center-align;
		text-align: center;
	}

	.file-upload-box {
		min-height: 359px;
		max-height: calc(100vh - 287px);
	}

	.widget-image-list {
		overflow-y: auto;
		height: 443px;
		align-content: flex-start;
		li {
			padding: 4px;
			.widget-image-list-box {
				border: 1px dashed $border-color;
				text-align: center;
				border-radius: 5px;
				position: relative;
				.widget-image-list-icon {
					height: 100px;
					padding: 7px;
					border-bottom: 1px dashed $border-color;
					img {
						@include image;
					}
				}
				p {
					margin: 0;
					padding: 5px 10px;
					@include text-truncate;
					background-color: $light-bg;
					color: $text-color;
					font-size: 11px;
				}
				.copy-button {
					@include position-bottom-right;
					bottom: 17px;
				}
			}
		}
	}
}