/* ***********************************************************************
* 83incs CONFIDENTIAL
* ***********************************************************************
*
*  [2017] - [2022] 83incs Ltd.
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of 83incs Ltd, IoT83 Ltd, its suppliers (if any), its subsidiaries (if any) and
* Source Code Licenses (if any).  The intellectual and technical concepts contained
* herein are proprietary to 83incs Ltd, IoT83 Ltd, its subsidiaries (if any) and
* Source Code Licenses (if any) and may be covered by U.S. and Foreign Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from 83incs Ltd or IoT83 Ltd.
****************************************************************************
*/

@media only screen {
    .hierarchyRoot {
        margin: 0 10px;
        padding: 10px 0;
        position: relative;
        height: 100%;
        overflow-x: auto;
        white-space: nowrap;
    }
    .hierarchyRoot .nodeBox {
        padding-top: 10px;
    }
    .hierarchyRoot .nodeBox ul li.nodeBox {
        padding-top: 20px;
        position: relative;
    }
    .hierarchyRoot .nodeBox ul li.nodeBox::before {
        content: " ";
        position: absolute;
        top: 37px;
        left: 0;
        height: 2px;
        background-color: var(--borderColor);
        width: 20px;
    }
    .hierarchyRoot .nodeBox ul li.nodeBox::after {
        content: '';
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-left: 2px solid var(--borderColor);
    }
    .hierarchyRoot .nodeBox ul li.nodeBox:last-of-type::after {
        height: 37px;
    }
    .hierarchyRoot .nodeBox ul li.nodeBox .nodeInputBox {
        position: relative;
        padding-left: 20px;
        width: auto;
    }
    .hierarchyRoot .nodeBox ul li.nodeBox .nodeInputBox::before {
        content: '';
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: var(--contentColor);
        position: absolute;
        top: 15px;
        left: -2px;
        z-index: 1;
    }
    .hierarchyRoot .nodeBox .nodeInputBox .form-control,
    .hierarchyRoot .nodeBox ul li.nodeBox .nodeInputBox .form-control {
        border: 1px solid var(--borderColor);
        font-size: 13px;
        color: var(--contentColor);
        width: 160px;
        padding: 10px;
        display: inline-block;
    }
    .hierarchyRoot .nodeBox ul li.nodeBox .nodeInputBox .form-control::placeholder {
        color: #b0b0b0;
    }
    .hierarchyRoot .button-group {
        display: inline-block;
        margin-left: 3px;
        height: 30px;
    }
    .hierarchyRoot .button-group .btn {
        height: 100%;
        border-radius: 3px;
        margin-right: 2px;
    }
    .hierarchyBranch {
        padding-left: 30px;
        position: relative;
    }
    .hierarchyList {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .hierarchyList li {
        margin-bottom: 10px;
        padding: 10px 0 10px 40px;
        position: relative;
    }
    .hierarchyList li .hierarchyListCount {
        height: 24px;
        width: 24px;
        border-radius: 50%;
        position: absolute;
        top: 12px;
        left: 0;
        background-color: #D8E8FE;
        color: var(--themeColor);
        font-size: 12px;
        font-weight: 700;
        text-align: center;
        line-height: 24px;
    }
    .hierarchyList li p {
        margin: 0 0 8px;
        font-weight: 600;
        font-size: 14px;
        text-transform: capitalize;
        position: relative;
        color: var(--textColor);
    }
    .hierarchyList li p::after {
        content: "\21FE";
        color: var(--contentColor);
        font-size: 18px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
    .hierarchyList li p:last-of-type::after {
        display: none;
    }
}
